openapi: 3.1.0
info:
  description: "C2PA-compliant content signing and verification infrastructure for\
    \ publishers, legal/finance firms, AI labs, and enterprises"
  title: Encypher Enterprise API
  version: 1.0.0-preview
servers:
- description: Production
  url: https://api.encypherai.com
- description: Local development
  url: http://localhost:8007
paths:
  /health:
    get:
      description: |-
        Health check endpoint for monitoring.

        Returns:
            dict: Status and environment information
      operationId: health_check_health_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Health Check
      tags:
      - Health
  /readyz:
    get:
      description: Lightweight readiness probe.
      operationId: readiness_check_readyz_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Readiness Check
      tags:
      - Health
  /:
    get:
      description: |-
        API root endpoint with basic information.

        Returns:
            dict: API information
      operationId: root__get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Root
      tags:
      - Info
  /api/v1/account:
    get:
      description: |-
        Get current organization account information.

        Returns organization details including:
        - Organization ID and name
        - Current subscription tier
        - Enabled feature flags
        - Account creation date
      operationId: get_account_info_api_v1_account_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Account Info
      tags:
      - Account
      - Account
  /api/v1/account/quota:
    get:
      description: |-
        Get detailed quota information for the organization.

        Returns current usage and limits for:
        - C2PA signatures
        - Sentences tracked
        - Batch operations
        - API calls
      operationId: get_account_quota_api_v1_account_quota_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuotaResponse"
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Account Quota
      tags:
      - Account
      - Account
  /api/v1/byok/public-keys:
    get:
      description: List all registered public keys for the organization.
      operationId: list_public_keys_api_v1_byok_public_keys_get
      parameters:
      - description: Include revoked keys
        explode: true
        in: query
        name: include_revoked
        required: false
        schema:
          default: false
          description: Include revoked keys
          title: Include Revoked
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicKeyListResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List public keys
      tags:
      - BYOK
      - BYOK
    post:
      description: Register a BYOK public key for signature verification.
      operationId: register_public_key_api_v1_byok_public_keys_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicKeyRegisterRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicKeyRegisterResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Register a public key
      tags:
      - BYOK
      - BYOK
  /api/v1/byok/public-keys/{key_id}:
    delete:
      description: Revoke a registered public key. Revoked keys cannot be used for
        verification.
      operationId: revoke_public_key_api_v1_byok_public_keys__key_id__delete
      parameters:
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          title: Key Id
          type: string
        style: simple
      - description: Reason for revocation
        explode: true
        in: query
        name: reason
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response Revoke Public Key Api V1 Byok Public Keys  Key Id  Delete
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Revoke a public key
      tags:
      - BYOK
      - BYOK
  /api/v1/documents:
    get:
      description: |-
        List signed documents for the organization.

        Supports pagination, search, and filtering by status and date range.
      operationId: list_documents_api_v1_documents_get
      parameters:
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: Page number
          minimum: 1
          title: Page
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          description: Items per page
          maximum: 100
          minimum: 1
          title: Page Size
          type: integer
        style: form
      - description: Search in title
        explode: true
        in: query
        name: search
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter by status (active/revoked)
        explode: true
        in: query
        name: status
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter from date (ISO format)
        explode: true
        in: query
        name: from_date
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter to date (ISO format)
        explode: true
        in: query
        name: to_date
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentListResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Documents
      tags:
      - Documents
      - Documents
  /api/v1/documents/{document_id}:
    delete:
      description: |-
        Soft delete a document.

        By default, this also revokes the document so it will fail verification.
        The document is not permanently deleted but marked as deleted.
      operationId: delete_document_api_v1_documents__document_id__delete
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      - description: Also revoke the document
        explode: true
        in: query
        name: revoke
        required: false
        schema:
          default: true
          description: Also revoke the document
          title: Revoke
          type: boolean
        style: form
      - description: Reason for deletion
        explode: true
        in: query
        name: reason
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentDeleteResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Document
      tags:
      - Documents
      - Documents
    get:
      description: Get detailed information about a specific document.
      operationId: get_document_api_v1_documents__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentDetailResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Document
      tags:
      - Documents
      - Documents
  /api/v1/documents/{document_id}/history:
    get:
      description: |-
        Get the audit trail/history for a document.

        Shows all actions taken on the document including signing, verification, and revocation.
      operationId: get_document_history_api_v1_documents__document_id__history_get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentHistoryResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Document History
      tags:
      - Documents
      - Documents
  /api/v1/keys:
    get:
      description: |-
        List API keys for the organization.

        Keys are masked - only the prefix is shown for security.
      operationId: list_keys_api_v1_keys_get
      parameters:
      - description: Include revoked keys
        explode: true
        in: query
        name: include_revoked
        required: false
        schema:
          default: false
          description: Include revoked keys
          title: Include Revoked
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyListResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Keys
      tags:
      - API Keys
      - API Keys
    post:
      description: |-
        Create a new API key.

        The full key is only returned once - store it securely.
      operationId: create_key_api_v1_keys_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyCreateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyCreateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Key
      tags:
      - API Keys
      - API Keys
  /api/v1/keys/{key_id}:
    delete:
      description: |-
        Revoke an API key.

        The key will immediately stop working. This action cannot be undone.
      operationId: revoke_key_api_v1_keys__key_id__delete
      parameters:
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          title: Key Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyRevokeResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Revoke Key
      tags:
      - API Keys
      - API Keys
    patch:
      description: Update an API key's name or permissions.
      operationId: update_key_api_v1_keys__key_id__patch
      parameters:
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          title: Key Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyUpdateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Key
      tags:
      - API Keys
      - API Keys
  /api/v1/keys/{key_id}/rotate:
    post:
      description: |-
        Rotate an API key.

        Creates a new key with the same permissions and revokes the old one.
        The new key is only returned once - store it securely.
      operationId: rotate_key_api_v1_keys__key_id__rotate_post
      parameters:
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          title: Key Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyRotateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Rotate Key
      tags:
      - API Keys
      - API Keys
  /api/v1/webhooks:
    get:
      description: List all webhooks for the organization.
      operationId: list_webhooks_api_v1_webhooks_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: List Webhooks
      tags:
      - Webhooks
      - Webhooks
    post:
      description: |-
        Register a new webhook.

        The webhook URL must be HTTPS. You can optionally provide a shared secret
        for HMAC signature verification of webhook payloads.
      operationId: create_webhook_api_v1_webhooks_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookCreateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookCreateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Webhook
      tags:
      - Webhooks
      - Webhooks
  /api/v1/webhooks/{webhook_id}:
    delete:
      description: Delete a webhook.
      operationId: delete_webhook_api_v1_webhooks__webhook_id__delete
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          title: Webhook Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookDeleteResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Webhook
      tags:
      - Webhooks
      - Webhooks
    get:
      description: Get details of a specific webhook.
      operationId: get_webhook_api_v1_webhooks__webhook_id__get
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          title: Webhook Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Webhook
      tags:
      - Webhooks
      - Webhooks
    patch:
      description: "Update a webhook's URL, events, or active status."
      operationId: update_webhook_api_v1_webhooks__webhook_id__patch
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          title: Webhook Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookUpdateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Webhook
      tags:
      - Webhooks
      - Webhooks
  /api/v1/webhooks/{webhook_id}/test:
    post:
      description: |-
        Send a test event to the webhook.

        This sends a test payload to verify the webhook is configured correctly.
      operationId: test_webhook_api_v1_webhooks__webhook_id__test_post
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          title: Webhook Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookTestResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Test Webhook
      tags:
      - Webhooks
      - Webhooks
  /api/v1/webhooks/{webhook_id}/deliveries:
    get:
      description: Get delivery history for a webhook.
      operationId: get_webhook_deliveries_api_v1_webhooks__webhook_id__deliveries_get
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          title: Webhook Id
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          title: Page Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookDeliveriesResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Webhook Deliveries
      tags:
      - Webhooks
      - Webhooks
  /api/v1/sign:
    post:
      description: Sign content with a C2PA manifest.
      operationId: sign_content_api_v1_sign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Sign Content
      tags:
      - Signing
  /api/v1/sign/advanced:
    post:
      operationId: sign_advanced_api_v1_sign_advanced_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncodeWithEmbeddingsRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncodeWithEmbeddingsResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Sign Advanced
      tags:
      - Signing
  /api/v1/verify/{document_id}:
    get:
      description: |-
        Verify a document by its ID (for clickable verification links).

        Returns an HTML page so users can preview verification state in a browser.
      operationId: verify_by_document_id_api_v1_verify__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Verify By Document Id
      tags:
      - Verification
  /api/v1/verify:
    post:
      description: |-
        Verify C2PA manifest in signed content using the encypher-ai library.

        This endpoint is public, rate limited, and returns structured machine-friendly
        verdicts that SDKs consume.
      operationId: verify_content_api_v1_verify_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Verify Content
      tags:
      - Verification
  /api/v1/lookup:
    post:
      description: |-
        Look up sentence provenance by hash.

        This endpoint allows anyone to paste a sentence and find which document
        it originally came from, along with metadata about the publisher.

        Use case: User pastes a sentence, we find which document it came from.

        Note: This endpoint does NOT require authentication (public lookup).

        **Alias:** POST /provenance/lookup
      operationId: lookup_sentence_api_v1_lookup_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LookupRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Lookup Sentence
      tags:
      - Lookup
  /api/v1/provenance/lookup:
    post:
      description: |-
        Look up sentence provenance by hash.

        This is an alias for POST /lookup with a clearer name.
        Find which document a sentence originally came from.

        Note: This endpoint does NOT require authentication (public lookup).
      operationId: provenance_lookup_api_v1_provenance_lookup_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LookupRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Provenance Lookup
      tags:
      - Lookup
  /api/v1/onboarding/request-certificate:
    post:
      description: |-
        Initiate SSL.com certificate request for organization.

        This endpoint:
        1. Checks if organization already has a pending/active certificate
        2. Creates SSL.com order via API
        3. Stores order tracking in certificate_lifecycle table
        4. Returns validation URL to organization

        Args:
            organization: Organization details from authentication
            db: Database session

        Returns:
            dict: Certificate request details including validation URL

        Raises:
            HTTPException: If organization already has certificate or SSL.com API fails
      operationId: request_certificate_api_v1_onboarding_request_certificate_post
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Request Certificate
      tags:
      - Onboarding
  /api/v1/onboarding/certificate-status:
    get:
      description: |-
        Get current certificate status for organization.

        Args:
            organization: Organization details from authentication
            db: Database session

        Returns:
            dict: Current certificate status
      operationId: get_certificate_status_api_v1_onboarding_certificate_status_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Certificate Status
      tags:
      - Onboarding
  /api/v1/stream/sign:
    post:
      description: Stream signing progress via SSE.
      operationId: stream_signing_api_v1_stream_sign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamSignRequest"
        required: true
      responses:
        "200":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Stream Signing
      tags:
      - Streaming
  /api/v1/stream/session/create:
    post:
      description: "Create a new streaming session.\n\nArgs:\n    session_type: Type\
        \ of session (websocket, sse, kafka)\n    metadata: Optional session metadata\n\
        \    signing_options: Optional signing configuration\n    organization: Authenticated\
        \ organization\n    db: Database session\n    \nReturns:\n    Session creation\
        \ result with session_id"
      operationId: create_streaming_session_api_v1_stream_session_create_post
      parameters:
      - explode: true
        in: query
        name: session_type
        required: false
        schema:
          default: websocket
          title: Session Type
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Body_create_streaming_session_api_v1_stream_session_create_post"
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Streaming Session
      tags:
      - Streaming
  /api/v1/stream/session/{session_id}/close:
    post:
      description: "Close a streaming session.\n\nArgs:\n    session_id: Session identifier\n\
        \    organization: Authenticated organization\n    db: Database session\n\
        \    \nReturns:\n    Session closure result with stats"
      operationId: close_streaming_session_api_v1_stream_session__session_id__close_post
      parameters:
      - explode: false
        in: path
        name: session_id
        required: true
        schema:
          title: Session Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Close Streaming Session
      tags:
      - Streaming
  /api/v1/stream/events:
    get:
      description: "Server-Sent Events (SSE) endpoint for unidirectional streaming.\n\
        \nArgs:\n    session_id: Session identifier\n    api_key: API key for authentication\n\
        \    \nReturns:\n    StreamingResponse with SSE events"
      operationId: sse_events_endpoint_api_v1_stream_events_get
      parameters:
      - explode: true
        in: query
        name: session_id
        required: true
        schema:
          title: Session Id
          type: string
        style: form
      - explode: true
        in: query
        name: api_key
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Sse Events Endpoint
      tags:
      - Streaming
  /api/v1/stream/stats:
    get:
      description: "Get streaming statistics for organization.\n\nArgs:\n    organization:\
        \ Authenticated organization\n    \nReturns:\n    Streaming statistics"
      operationId: get_streaming_stats_api_v1_stream_stats_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Streaming Stats
      tags:
      - Streaming
  /api/v1/stream/health:
    get:
      description: |-
        Health check endpoint for streaming service.

        Returns:
            Health status of streaming components
      operationId: streaming_health_check_api_v1_stream_health_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Streaming Health Check
      tags:
      - Streaming
  /api/v1/stream/runs/{run_id}:
    get:
      description: Return persisted streaming run state.
      operationId: get_stream_run_api_v1_stream_runs__run_id__get
      parameters:
      - explode: false
        in: path
        name: run_id
        required: true
        schema:
          title: Run Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Stream Run
      tags:
      - Streaming
  /api/v1/stream/chat/openai-compatible:
    post:
      description: "OpenAI-compatible chat completion endpoint with signing.\n\nThis\
        \ endpoint mimics the OpenAI Chat Completions API but adds\nC2PA signing to\
        \ the response content.\n\nArgs:\n    request: Chat completion request\n \
        \   organization: Authenticated organization\n    db: Database session\n \
        \   \nReturns:\n    Chat completion response (streaming or non-streaming)"
      operationId: openai_compatible_chat_api_v1_stream_chat_openai_compatible_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Openai Compatible Chat
      tags:
      - Chat
  /api/v1/stream/chat/health:
    get:
      description: |-
        Health check for chat streaming endpoint.

        Returns:
            Health status
      operationId: chat_health_check_api_v1_stream_chat_health_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Chat Health Check
      tags:
      - Chat
  /api/v1/usage:
    get:
      description: |-
        Get current period usage statistics for the organization.

        Returns usage metrics including:
        - C2PA signatures (documents signed)
        - Sentences tracked
        - Batch operations
        - API calls
      operationId: get_usage_stats_api_v1_usage_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Usage Stats
      tags:
      - Usage
  /api/v1/usage/reset:
    post:
      description: |-
        Reset monthly usage counters.

        This is typically called by a scheduled job at the start of each billing period.
        Requires admin permissions.
      operationId: reset_monthly_usage_api_v1_usage_reset_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResetResponse"
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Reset Monthly Usage
      tags:
      - Usage
  /api/v1/usage/history:
    get:
      description: |-
        Get historical usage data for the organization.

        Returns monthly usage summaries for the specified number of months.
      operationId: get_usage_history_api_v1_usage_history_get
      parameters:
      - explode: true
        in: query
        name: months
        required: false
        schema:
          default: 6
          title: Months
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Usage History
      tags:
      - Usage
  /api/v1/coalition/dashboard:
    get:
      description: |-
        Get coalition dashboard data for the organization.

        Returns content stats, earnings, and payout information.
      operationId: get_coalition_dashboard_api_v1_coalition_dashboard_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoalitionDashboardResponse"
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Coalition Dashboard
      tags:
      - Coalition
      - Coalition
  /api/v1/coalition/content-stats:
    get:
      description: Get historical content corpus statistics.
      operationId: get_content_stats_api_v1_coalition_content_stats_get
      parameters:
      - explode: true
        in: query
        name: months
        required: false
        schema:
          default: 12
          maximum: 24
          minimum: 1
          title: Months
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Content Stats
      tags:
      - Coalition
      - Coalition
  /api/v1/coalition/earnings:
    get:
      description: Get detailed earnings history.
      operationId: get_earnings_history_api_v1_coalition_earnings_get
      parameters:
      - explode: true
        in: query
        name: months
        required: false
        schema:
          default: 12
          maximum: 24
          minimum: 1
          title: Months
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Earnings History
      tags:
      - Coalition
      - Coalition
  /api/v1/coalition/opt-out:
    post:
      description: |-
        Opt out of the coalition revenue sharing program.

        Note: This will stop future earnings but won't affect pending payouts.
      operationId: opt_out_of_coalition_api_v1_coalition_opt_out_post
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Opt Out Of Coalition
      tags:
      - Coalition
      - Coalition
  /api/v1/coalition/opt-in:
    post:
      description: Opt back into the coalition revenue sharing program.
      operationId: opt_in_to_coalition_api_v1_coalition_opt_in_post
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Opt In To Coalition
      tags:
      - Coalition
      - Coalition
  /api/v1/status/documents/{document_id}/revoke:
    post:
      description: |-
        Revoke a document's authenticity.

        The document will fail verification within 5 minutes (CDN cache TTL).
        This action is reversible via the reinstate endpoint.

        **Revocation Reasons:**
        - `factual_error`: Content contains factual errors
        - `legal_takedown`: Legal request (DMCA, court order)
        - `copyright_claim`: Copyright infringement claim
        - `privacy_request`: Privacy/GDPR request
        - `publisher_request`: Publisher-initiated takedown
        - `security_concern`: Security vulnerability in content
        - `content_policy`: Violates content policy
        - `other`: Other reason (specify in reason_detail)
      operationId: revoke_document_api_v1_status_documents__document_id__revoke_post
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevocationResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Revoke Document
      tags:
      - Status & Revocation
      - Status & Revocation
  /api/v1/status/documents/{document_id}/reinstate:
    post:
      description: |-
        Reinstate a previously revoked document.

        The document will pass verification again within 5 minutes (CDN cache TTL).
      operationId: reinstate_document_api_v1_status_documents__document_id__reinstate_post
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevocationResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Reinstate Document
      tags:
      - Status & Revocation
      - Status & Revocation
  /api/v1/status/documents/{document_id}:
    get:
      description: Get the revocation status of a document.
      operationId: get_document_status_api_v1_status_documents__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentStatusResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Document Status
      tags:
      - Status & Revocation
      - Status & Revocation
  /api/v1/status/list/{organization_id}/{list_index}:
    get:
      description: |-
        Get a status list credential (public, no auth required).

        This endpoint serves W3C StatusList2021 credentials for verification.
        Responses are designed to be cached by CDN with 5-minute TTL.

        **Response Format:** W3C StatusList2021Credential (JSON-LD)
      operationId: get_status_list_api_v1_status_list__organization_id___list_index__get
      parameters:
      - explode: false
        in: path
        name: organization_id
        required: true
        schema:
          title: Organization Id
          type: string
        style: simple
      - explode: false
        in: path
        name: list_index
        required: true
        schema:
          title: List Index
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Status List
      tags:
      - Status & Revocation
      - Status & Revocation
  /api/v1/status/stats:
    get:
      description: Get status list statistics for the organization.
      operationId: get_status_stats_api_v1_status_stats_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Status Stats
      tags:
      - Status & Revocation
      - Status & Revocation
  /api/v1/batch/sign:
    post:
      description: Sign multiple documents in a single request.
      operationId: batch_sign_api_v1_batch_sign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchSignRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponseEnvelope"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Batch Sign
      tags:
      - Batch
  /api/v1/batch/verify:
    post:
      description: Verify multiple documents in a single request.
      operationId: batch_verify_api_v1_batch_verify_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/app__schemas__batch__BatchVerifyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponseEnvelope"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Batch Verify
      tags:
      - Batch
  /api/v1/tools/encode:
    post:
      description: |-
        Encode text with embedded metadata using the demo key.

        This is a public endpoint for the website demo tool.
        All encoding uses a server-side demo key.
      operationId: encode_text_api_v1_tools_encode_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncodeToolRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncodeToolResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Encode Text
      tags:
      - Public Tools
      - Public Tools
  /api/v1/tools/decode:
    post:
      description: |-
        Decode and verify text containing embedded metadata.

        This is a public endpoint for the website demo tool.
        Supports multiple embeddings in a single text (Encypher proprietary feature).
        Verification uses Trust Anchor lookup - checks database for org public keys.
        Falls back to demo key for demo-signed content.
      operationId: decode_text_api_v1_tools_decode_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DecodeToolRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecodeToolResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Decode Text
      tags:
      - Public Tools
      - Public Tools
  /api/v1/enterprise/merkle/encode:
    post:
      description: "Encode a document into Merkle trees at specified segmentation\
        \ levels.\n    \n    This endpoint:\n    1. Segments the document text at\
        \ multiple levels (word/sentence/paragraph/section)\n    2. Builds Merkle\
        \ trees for each segmentation level\n    3. Stores all tree data in the database\
        \ for future attribution queries\n    4. Returns root hashes and tree metadata\n\
        \    \n    **Enterprise Tier Only** - Requires valid organization with Merkle\
        \ features enabled.\n    \n    **Rate Limits:**\n    - Free tier: Not available\n\
        \    - Enterprise tier: 1000 documents/month\n    \n    **Processing Time:**\n\
        \    - Small documents (<1000 words): ~100-200ms\n    - Medium documents (1000-10000\
        \ words): ~500ms-2s\n    - Large documents (>10000 words): ~2-10s"
      operationId: encode_document_api_v1_enterprise_merkle_encode_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentEncodeRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentEncodeResponse"
          description: Document encoded successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Invalid request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Quota exceeded or feature not enabled
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Server error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Encode Document into Merkle Trees
      tags:
      - Enterprise - Merkle Trees
  /api/v1/enterprise/merkle/attribute:
    post:
      description: "Find source documents that contain a specific text segment.\n\
        \    \n    This endpoint searches the Merkle tree index to find which documents\n\
        \    contain the provided text segment.\n    \n    **Use Cases:**\n    - Verify\
        \ if a text segment appears in your document repository\n    - Find the original\
        \ source of a quote or passage\n    - Check if content has been previously\
        \ published\n    \n    **Enterprise Tier Only**"
      operationId: find_sources_api_v1_enterprise_merkle_attribute_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SourceAttributionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceAttributionResponse"
          description: Search completed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Invalid request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Server error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Find Source Documents
      tags:
      - Enterprise - Merkle Trees
  /api/v1/enterprise/merkle/detect-plagiarism:
    post:
      description: "Analyze text for potential plagiarism by comparing against indexed\
        \ documents.\n    \n    This endpoint:\n    1. Segments the target text\n\
        \    2. Checks each segment against the Merkle tree index\n    3. Identifies\
        \ matching source documents\n    4. Calculates match percentages and confidence\
        \ scores\n    5. Generates a heat map showing which parts match\n    \n  \
        \  **Use Cases:**\n    - Academic plagiarism detection\n    - Content originality\
        \ verification\n    - Copyright infringement detection\n    - Duplicate content\
        \ identification\n    \n    **Enterprise Tier Only**"
      operationId: detect_plagiarism_api_v1_enterprise_merkle_detect_plagiarism_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlagiarismDetectionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlagiarismDetectionResponse"
          description: Analysis completed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Invalid request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Server error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Detect Plagiarism
      tags:
      - Enterprise - Merkle Trees
  /api/v1/enterprise/embeddings/encode-with-embeddings:
    post:
      deprecated: true
      description: |-
        Encode a document with invisible embeddings.

        **Alias:** POST /enterprise/sign/advanced
      operationId: encode_with_embeddings_api_v1_enterprise_embeddings_encode_with_embeddings_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncodeWithEmbeddingsRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncodeWithEmbeddingsResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Encode With Embeddings
      tags:
      - Enterprise - Embeddings
  /api/v1/enterprise/embeddings/sign/advanced:
    post:
      deprecated: true
      description: |-
        Sign a document with advanced invisible embeddings.

        This is an alias for POST /enterprise/embeddings/encode-with-embeddings
        with a clearer name. Creates C2PA-compliant invisible signatures.

        Requires Professional or Enterprise tier.
      operationId: sign_advanced_api_v1_enterprise_embeddings_sign_advanced_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncodeWithEmbeddingsRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncodeWithEmbeddingsResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Sign Advanced
      tags:
      - Enterprise - Embeddings
  /api/v1/enterprise/c2pa/schemas:
    get:
      description: |-
        List available C2PA assertion schemas.

        Returns schemas owned by the organization or public schemas.
      operationId: list_schemas_api_v1_enterprise_c2pa_schemas_get
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          title: Page Size
          type: integer
        style: form
      - explode: true
        in: query
        name: is_public
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PASchemaListResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Schemas
      tags:
      - C2PA Custom Assertions
    post:
      description: |-
        Register a custom C2PA assertion schema.

        Allows organizations to define custom assertion types with
        JSON Schema validation rules.
      operationId: create_schema_api_v1_enterprise_c2pa_schemas_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2PASchemaCreate"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PASchemaResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Schema
      tags:
      - C2PA Custom Assertions
  /api/v1/enterprise/c2pa/schemas/{schema_id}:
    delete:
      description: Delete a C2PA assertion schema.
      operationId: delete_schema_api_v1_enterprise_c2pa_schemas__schema_id__delete
      parameters:
      - explode: false
        in: path
        name: schema_id
        required: true
        schema:
          title: Schema Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Schema
      tags:
      - C2PA Custom Assertions
    get:
      description: Get a specific C2PA assertion schema.
      operationId: get_schema_api_v1_enterprise_c2pa_schemas__schema_id__get
      parameters:
      - explode: false
        in: path
        name: schema_id
        required: true
        schema:
          title: Schema Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PASchemaResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Schema
      tags:
      - C2PA Custom Assertions
    put:
      description: Update a C2PA assertion schema.
      operationId: update_schema_api_v1_enterprise_c2pa_schemas__schema_id__put
      parameters:
      - explode: false
        in: path
        name: schema_id
        required: true
        schema:
          title: Schema Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2PASchemaUpdate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PASchemaResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Schema
      tags:
      - C2PA Custom Assertions
  /api/v1/enterprise/c2pa/validate:
    post:
      description: |-
        Validate a C2PA assertion before embedding.

        Checks the assertion data against its registered schema.
      operationId: validate_assertion_api_v1_enterprise_c2pa_validate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2PAAssertionValidateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PAAssertionValidateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Validate Assertion
      tags:
      - C2PA Custom Assertions
  /api/v1/enterprise/c2pa/templates:
    get:
      description: List available assertion templates.
      operationId: list_templates_api_v1_enterprise_c2pa_templates_get
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          title: Page Size
          type: integer
        style: form
      - explode: true
        in: query
        name: category
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PATemplateListResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Templates
      tags:
      - C2PA Custom Assertions
    post:
      description: Create a new assertion template.
      operationId: create_template_api_v1_enterprise_c2pa_templates_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2PATemplateCreate"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PATemplateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Template
      tags:
      - C2PA Custom Assertions
  /api/v1/enterprise/c2pa/templates/{template_id}:
    delete:
      description: Delete an assertion template.
      operationId: delete_template_api_v1_enterprise_c2pa_templates__template_id__delete
      parameters:
      - explode: false
        in: path
        name: template_id
        required: true
        schema:
          title: Template Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Template
      tags:
      - C2PA Custom Assertions
    get:
      description: Get a specific assertion template.
      operationId: get_template_api_v1_enterprise_c2pa_templates__template_id__get
      parameters:
      - explode: false
        in: path
        name: template_id
        required: true
        schema:
          title: Template Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PATemplateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Template
      tags:
      - C2PA Custom Assertions
    put:
      description: Update an assertion template.
      operationId: update_template_api_v1_enterprise_c2pa_templates__template_id__put
      parameters:
      - explode: false
        in: path
        name: template_id
        required: true
        schema:
          title: Template Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2PATemplateUpdate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PATemplateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Template
      tags:
      - C2PA Custom Assertions
  /api/v1/public/verify/{ref_id}:
    get:
      description: "Verify a minimal signed embedding and retrieve associated metadata.\n\
        \    \n    **This endpoint is PUBLIC and does NOT require authentication.**\n\
        \    \n    Third parties can use this endpoint to:\n    - Verify authenticity\
        \ of content with embedded markers\n    - Retrieve document metadata (title,\
        \ author, organization)\n    - Access C2PA manifest information\n    - View\
        \ licensing terms\n    - Get Merkle proof for cryptographic verification\n\
        \    \n    **Rate Limiting:**\n    - 1000 requests/hour per IP address\n \
        \   - CAPTCHA required after repeated failures\n    \n    **Privacy:**\n \
        \   - Only returns text preview (first 200 characters)\n    - Full text content\
        \ is NOT exposed\n    - Internal document IDs are mapped to public IDs\n \
        \   \n    **Example Usage:**\n    ```\n    GET /api/v1/public/verify/a3f9c2e1?signature=8k3mP9xQ\n\
        \    ```"
      operationId: verify_embedding_api_v1_public_verify__ref_id__get
      parameters:
      - explode: false
        in: path
        name: ref_id
        required: true
        schema:
          title: Ref Id
          type: string
        style: simple
      - description: HMAC signature (8+ hex characters)
        explode: true
        in: query
        name: signature
        required: true
        schema:
          description: HMAC signature (8+ hex characters)
          title: Signature
          type: string
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyEmbeddingResponse"
          description: Embedding verified successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__embeddings__ErrorResponse"
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__embeddings__ErrorResponse"
          description: Embedding not found
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__embeddings__ErrorResponse"
          description: Rate limit exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Verify Embedding (Public - No Auth Required)
      tags:
      - Public - Verification
  /api/v1/public/verify/batch:
    post:
      description: "Verify multiple embeddings in a single request.\n    \n    **This\
        \ endpoint is PUBLIC and does NOT require authentication.**\n    \n    Useful\
        \ for:\n    - Verifying all embeddings on a page at once\n    - Bulk verification\
        \ by web scrapers\n    - Browser extensions checking multiple paragraphs\n\
        \    \n    **Rate Limiting:**\n    - 100 requests/hour per IP address\n  \
        \  - Maximum 50 embeddings per request"
      operationId: batch_verify_embeddings_api_v1_public_verify_batch_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/app__schemas__embeddings__BatchVerifyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchVerifyResponse"
          description: Batch verification completed
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__embeddings__ErrorResponse"
          description: Invalid request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__embeddings__ErrorResponse"
          description: Rate limit exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Batch Verify Embeddings (Public - No Auth Required)
      tags:
      - Public - Verification
  /api/v1/public/extract-and-verify:
    post:
      description: "Extract and verify invisible Unicode embedding from text using\
        \ encypher-ai.\n    \n    **This endpoint is PUBLIC and does NOT require authentication.**\n\
        \    \n    This is the NEW verification method for invisible embeddings:\n\
        \    - Extracts invisible Unicode variation selector embeddings\n    - Verifies\
        \ cryptographic signature using encypher-ai\n    - Returns enterprise metadata\
        \ (Merkle tree, document info, etc.)\n    \n    **How it works:**\n    1.\
        \ Text contains invisible Unicode variation selectors\n    2. encypher-ai\
        \ extracts and verifies the embedded metadata\n    3. Enterprise API looks\
        \ up Merkle tree and document info\n    4. Returns full verification result\
        \ with all metadata\n    \n    **Rate Limiting:**\n    - 1000 requests/hour\
        \ per IP address\n    \n    **Example Usage:**\n    ```json\n    POST /api/v1/public/extract-and-verify\n\
        \    {\n      \"text\": \"Content with invisible embedding...\"\n    }\n \
        \   ```"
      operationId: extract_and_verify_embedding_api_v1_public_extract_and_verify_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExtractAndVerifyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtractAndVerifyResponse"
          description: Embedding extracted and verified
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__embeddings__ErrorResponse"
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__embeddings__ErrorResponse"
          description: No embedding found
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__embeddings__ErrorResponse"
          description: Rate limit exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Extract and Verify Invisible Embedding (Public - No Auth Required)
      tags:
      - Public - Verification
  /api/v1/public/c2pa/validate-manifest:
    post:
      operationId: validate_manifest_api_v1_public_c2pa_validate_manifest_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateManifestRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateManifestResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Validate C2PA-like manifest JSON (Public - Non-Cryptographic)
      tags:
      - Public - C2PA
  /api/v1/public/c2pa/create-manifest:
    post:
      operationId: create_manifest_api_v1_public_c2pa_create_manifest_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateManifestRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateManifestResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Create C2PA-like manifest JSON from plaintext (Public - Non-Cryptographic)
      tags:
      - Public - C2PA
  /api/v1/public/c2pa/trust-anchors/{signer_id}:
    get:
      description: |-
        Lookup a trust anchor (public key) for external C2PA validators.

        This endpoint enables third-party validators to verify Encypher-signed
        content by providing the signer's public key. This implements the
        "Private Credential Store" model per C2PA spec §14.4.3.

        **Special signer IDs:**
        - `encypher.public` or `org_demo`: Returns Encypher's official demo/free-tier key
        - `demo-*`: Returns demo/test keys (non-production)

        **C2PA Spec Reference:**
        https://spec.c2pa.org/specifications/specifications/2.2/specs/C2PA_Specification.html#_trust_lists
      operationId: get_trust_anchor_api_v1_public_c2pa_trust_anchors__signer_id__get
      parameters:
      - description: Signer identifier from manifest
        explode: false
        in: path
        name: signer_id
        required: true
        schema:
          description: Signer identifier from manifest
          title: Signer Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustAnchorResponse"
          description: Successful Response
        "404":
          description: Signer not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Lookup trust anchor for C2PA verification (Public)
      tags:
      - Public - C2PA
components:
  schemas:
    KeyUpdateResponse:
      description: Response after updating a key.
      example:
        data:
          key: ""
        success: true
      properties:
        success:
          default: true
          title: Success
          type: boolean
        data:
          additionalProperties: {}
          title: Data
      required:
      - data
      title: KeyUpdateResponse
    DocumentListResponse:
      description: Response for document listing.
      example:
        data:
          key: ""
        success: true
      properties:
        success:
          default: true
          title: Success
          type: boolean
        data:
          additionalProperties: {}
          description: Documents and pagination info
          title: Data
      required:
      - data
      title: DocumentListResponse
    KeyRevokeResponse:
      description: Response after revoking a key.
      example:
        data:
          key: ""
        success: true
      properties:
        success:
          default: true
          title: Success
          type: boolean
        data:
          additionalProperties: {}
          title: Data
      required:
      - data
      title: KeyRevokeResponse
    BatchSignRequest:
      description: Batch signing request.
      example:
        mode: c2pa
        segmentation_level: document
        fail_fast: false
        idempotency_key: idempotency_key
        items:
        - metadata:
            key: ""
          text: text
          document_id: document_id
          title: title
        - metadata:
            key: ""
          text: text
          document_id: document_id
          title: title
        - metadata:
            key: ""
          text: text
          document_id: document_id
          title: title
        - metadata:
            key: ""
          text: text
          document_id: document_id
          title: title
        - metadata:
            key: ""
          text: text
          document_id: document_id
          title: title
      properties:
        mode:
          description: "Processing mode: 'c2pa' or 'embeddings'"
          enum:
          - c2pa
          - embeddings
          title: Mode
          type: string
        segmentation_level:
          enum:
          - document
          - paragraph
          - sentence
          nullable: true
          type: string
        idempotency_key:
          description: Caller-supplied key used to deduplicate retries
          maxLength: 128
          minLength: 8
          title: Idempotency Key
          type: string
        items:
          description: Documents to process (max 100)
          items:
            $ref: "#/components/schemas/BatchItemPayload"
          maxItems: 100
          minItems: 1
          type: array
        fail_fast:
          default: false
          description: Abort remaining items upon the first error when set to true
          title: Fail Fast
          type: boolean
      required:
      - idempotency_key
      - items
      - mode
      title: BatchSignRequest
    C2PAAssertionValidateResponse:
      description: Response schema for assertion validation.
      example:
        valid: true
        assertions:
        - valid: true
          warnings:
          - warnings
          - warnings
          label: label
          errors:
          - errors
          - errors
        - valid: true
          warnings:
          - warnings
          - warnings
          label: label
          errors:
          - errors
          - errors
      properties:
        valid:
          title: Valid
          type: boolean
        assertions:
          items:
            $ref: "#/components/schemas/C2PAAssertionValidationResult"
          type: array
      required:
      - assertions
      - valid
      title: C2PAAssertionValidateResponse
    C2PAAssertionValidationResult:
      description: Validation result for a single assertion.
      example:
        valid: true
        warnings:
        - warnings
        - warnings
        label: label
        errors:
        - errors
        - errors
      properties:
        label:
          title: Label
          type: string
        valid:
          title: Valid
          type: boolean
        errors:
          items:
            type: string
          type: array
        warnings:
          items:
            type: string
          type: array
      required:
      - label
      - valid
      title: C2PAAssertionValidationResult
    C2PASchemaCreate:
      description: Request schema for creating a C2PA assertion schema.
      example:
        json_schema:
          key: ""
        name: name
        is_public: false
        description: description
        label: label
        version: "1.0"
      properties:
        name:
          description: Human-readable name for the schema
          title: Name
          type: string
        label:
          description: "Full assertion label (e.g., 'com.acme.legal.v1')"
          title: Label
          type: string
        version:
          default: "1.0"
          description: "Schema version (e.g., 'v1', '1.0.0')"
          title: Version
          type: string
        json_schema:
          additionalProperties: {}
          description: JSON Schema for validation
          title: Json Schema
        description:
          nullable: true
          type: string
        is_public:
          default: false
          description: Whether schema is publicly accessible
          title: Is Public
          type: boolean
      required:
      - json_schema
      - label
      - name
      title: C2PASchemaCreate
    PlagiarismDetectionResponse:
      description: Response schema for plagiarism detection.
      example:
        target_document_id: target_document_id
        processing_time_ms: 4.145608029883936
        overall_match_percentage: 1.4658129805029452
        success: true
        report_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        heat_map_data:
          match_percentage: 2.027123023002322
          matched_segments: 3
          positions:
          - key: ""
          - key: ""
          total_segments: 9
        matched_segments: 6
        total_segments: 0
        source_documents:
        - doc_metadata:
            key: ""
          total_leaves: 5
          segmentation_level: segmentation_level
          match_percentage: 2.3021358869347655
          organization_id: organization_id
          confidence_score: 7.061401241503109
          matched_segments: 5
          document_id: document_id
        - doc_metadata:
            key: ""
          total_leaves: 5
          segmentation_level: segmentation_level
          match_percentage: 2.3021358869347655
          organization_id: organization_id
          confidence_score: 7.061401241503109
          matched_segments: 5
          document_id: document_id
        scan_timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        success:
          title: Success
          type: boolean
        report_id:
          format: uuid
          title: Report Id
          type: string
        target_document_id:
          nullable: true
          type: string
        total_segments:
          title: Total Segments
          type: integer
        matched_segments:
          title: Matched Segments
          type: integer
        overall_match_percentage:
          title: Overall Match Percentage
          type: number
        source_documents:
          items:
            $ref: "#/components/schemas/SourceDocumentMatch"
          type: array
        heat_map_data:
          $ref: "#/components/schemas/HeatMapData"
        processing_time_ms:
          title: Processing Time Ms
          type: number
        scan_timestamp:
          format: date-time
          title: Scan Timestamp
          type: string
      required:
      - heat_map_data
      - matched_segments
      - overall_match_percentage
      - processing_time_ms
      - report_id
      - scan_timestamp
      - source_documents
      - success
      - target_document_id
      - total_segments
      title: PlagiarismDetectionResponse
    CreateManifestResponse:
      example:
        manifest:
          key: ""
        signing:
          claim_generator: claim_generator
          actions:
          - key: ""
          - key: ""
      properties:
        manifest:
          additionalProperties: {}
          title: Manifest
        signing:
          $ref: "#/components/schemas/CreateManifestSigningPayload"
      required:
      - manifest
      - signing
      title: CreateManifestResponse
    WebhookTestResponse:
      description: Response after testing a webhook.
      example:
        data:
          key: ""
        success: true
      properties:
        success:
          default: true
          title: Success
          type: boolean
        data:
          additionalProperties: {}
          title: Data
      required:
      - data
      title: WebhookTestResponse
    BatchResponseEnvelope:
      description: Envelope returned by batch endpoints.
      example:
        data:
          summary:
            mode: c2pa
            duration_ms: 5
            completed_at: completed_at
            success_count: 6
            failure_count: 1
            started_at: started_at
            total_items: 0
            status: pending
          results:
          - signed_text: signed_text
            error_message: error_message
            embedded_content: embedded_content
            verdict:
              valid: true
              reason_code: reason_code
              signer_name: signer_name
              tampered: true
              signer_id: signer_id
              all_embeddings:
              - valid: true
                reason_code: reason_code
                signer_name: signer_name
                tampered: true
                signer_id: signer_id
                manifest:
                  key: ""
                index: 6
                text_span:
                - ""
                - ""
                clean_text: clean_text
                timestamp: 2000-01-23T04:56:07.000+00:00
              - valid: true
                reason_code: reason_code
                signer_name: signer_name
                tampered: true
                signer_id: signer_id
                manifest:
                  key: ""
                index: 6
                text_span:
                - ""
                - ""
                clean_text: clean_text
                timestamp: 2000-01-23T04:56:07.000+00:00
              embeddings_found: 0
              details:
                key: ""
              timestamp: 2000-01-23T04:56:07.000+00:00
            error_code: error_code
            document_id: document_id
            status: ok
            statistics:
              key: ""
          - signed_text: signed_text
            error_message: error_message
            embedded_content: embedded_content
            verdict:
              valid: true
              reason_code: reason_code
              signer_name: signer_name
              tampered: true
              signer_id: signer_id
              all_embeddings:
              - valid: true
                reason_code: reason_code
                signer_name: signer_name
                tampered: true
                signer_id: signer_id
                manifest:
                  key: ""
                index: 6
                text_span:
                - ""
                - ""
                clean_text: clean_text
                timestamp: 2000-01-23T04:56:07.000+00:00
              - valid: true
                reason_code: reason_code
                signer_name: signer_name
                tampered: true
                signer_id: signer_id
                manifest:
                  key: ""
                index: 6
                text_span:
                - ""
                - ""
                clean_text: clean_text
                timestamp: 2000-01-23T04:56:07.000+00:00
              embeddings_found: 0
              details:
                key: ""
              timestamp: 2000-01-23T04:56:07.000+00:00
            error_code: error_code
            document_id: document_id
            status: ok
            statistics:
              key: ""
        batch_id: batch_id
        success: true
        correlation_id: correlation_id
        error:
          code: code
          hint: hint
          message: message
      properties:
        success:
          description: Indicates whether the batch request succeeded
          title: Success
          type: boolean
        batch_id:
          description: Batch request identifier
          title: Batch Id
          type: string
        data:
          $ref: "#/components/schemas/BatchResponseData"
        error:
          $ref: "#/components/schemas/ErrorDetail"
        correlation_id:
          description: Request correlation identifier for tracing
          title: Correlation Id
          type: string
      required:
      - batch_id
      - correlation_id
      - success
      title: BatchResponseEnvelope
    ErrorDetail:
      description: Standard API error object.
      example:
        code: code
        hint: hint
        message: message
      properties:
        code:
          description: Stable machine-readable error code
          title: Code
          type: string
        message:
          description: Human readable error description
          title: Message
          type: string
        hint:
          nullable: true
          type: string
      required:
      - code
      - message
      title: ErrorDetail
    UsageResetResponse:
      description: Response after resetting usage counters.
      example:
        success: true
        organization_id: organization_id
        message: message
        reset_at: reset_at
      properties:
        success:
          title: Success
          type: boolean
        message:
          title: Message
          type: string
        organization_id:
          title: Organization Id
          type: string
        reset_at:
          title: Reset At
          type: string
      required:
      - message
      - organization_id
      - reset_at
      - success
      title: UsageResetResponse
    VerifyRequest:
      description: Request model for verifying signed content.
      example:
        text: text
      properties:
        text:
          description: Text with embedded C2PA manifest
          minLength: 1
          title: Text
          type: string
      required:
      - text
      title: VerifyRequest
    RevocationResponse:
      description: Response for revocation/reinstatement actions.
      example:
        success: true
        action: action
        document_id: document_id
        message: message
        timestamp: timestamp
      properties:
        success:
          title: Success
          type: boolean
        document_id:
          title: Document Id
          type: string
        action:
          title: Action
          type: string
        timestamp:
          title: Timestamp
          type: string
        message:
          title: Message
          type: string
      required:
      - action
      - document_id
      - message
      - success
      - timestamp
      title: RevocationResponse
    PublicKeyListResponse:
      description: Response for listing organization's public keys.
      example:
        data:
          keys: []
          total: 0
        success: true
      properties:
        success:
          default: true
          title: Success
          type: boolean
        data:
          additionalProperties: {}
          title: Data
      title: PublicKeyListResponse
    C2PAAssertionValidateRequest:
      description: Request schema for validating a C2PA assertion.
      example:
        data:
          key: ""
        label: label
      properties:
        label:
          description: Assertion label to validate
          title: Label
          type: string
        data:
          additionalProperties: {}
          description: Assertion data to validate
          title: Data
      required:
      - data
      - label
      title: C2PAAssertionValidateRequest
    C2PASchemaListResponse:
      description: Response schema for listing C2PA schemas.
      example:
        total: 0
        schemas:
        - is_active: true
          updated_at: updated_at
          json_schema:
            key: ""
          organization_id: organization_id
          name: name
          is_public: true
          description: description
          created_at: created_at
          id: id
          label: label
[...]
