openapi: 3.1.0
info:
  description: "C2PA-compliant content signing and verification infrastructure for\
    \ publishers, legal/finance firms, AI labs, and enterprises"
  title: Encypher Enterprise API
  version: 1.0.2
servers:
- description: Production
  url: https://api.encypherai.com
- description: Local development
  url: http://localhost:8007
paths:
  /health:
    get:
      description: |-
        Health check endpoint for monitoring.

        Returns:
            dict: Status and environment information
      operationId: health_check_health_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Health Check
      tags:
      - Health
  /readyz:
    get:
      description: Lightweight readiness probe.
      operationId: readiness_check_readyz_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Readiness Check
      tags:
      - Health
  /:
    get:
      description: |-
        API root endpoint with basic information.

        Returns:
            dict: API information
      operationId: root__get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Root
      tags:
      - Info
  /api/v1/account:
    get:
      description: |-
        Get current organization account information.

        Returns organization details including:
        - Organization ID and name
        - Current subscription tier
        - Enabled feature flags
        - Account creation date
      operationId: get_account_info_api_v1_account_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Account Info
      tags:
      - Account
      - Account
  /api/v1/account/quota:
    get:
      description: |-
        Get detailed quota information for the organization.

        Returns current usage and limits for:
        - C2PA signatures
        - Sentences tracked
        - Batch operations
        - API calls
      operationId: get_account_quota_api_v1_account_quota_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuotaResponse"
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Account Quota
      tags:
      - Account
      - Account
  /api/v1/byok/public-keys:
    get:
      description: List all registered public keys for the organization.
      operationId: list_public_keys_api_v1_byok_public_keys_get
      parameters:
      - description: Include revoked keys
        explode: true
        in: query
        name: include_revoked
        required: false
        schema:
          default: false
          description: Include revoked keys
          title: Include Revoked
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicKeyListResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List public keys
      tags:
      - BYOK
      - BYOK
    post:
      description: Register a BYOK public key for signature verification.
      operationId: register_public_key_api_v1_byok_public_keys_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicKeyRegisterRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicKeyRegisterResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Register a public key
      tags:
      - BYOK
      - BYOK
  /api/v1/byok/public-keys/{key_id}:
    delete:
      description: Revoke a registered public key. Revoked keys cannot be used for
        verification.
      operationId: revoke_public_key_api_v1_byok_public_keys__key_id__delete
      parameters:
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          title: Key Id
          type: string
        style: simple
      - description: Reason for revocation
        explode: true
        in: query
        name: reason
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response Revoke Public Key Api V1 Byok Public Keys  Key Id  Delete
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Revoke a public key
      tags:
      - BYOK
      - BYOK
  /api/v1/byok/trusted-cas:
    get:
      description: Returns the list of C2PA-trusted CAs that can issue signing certificates.
      operationId: list_trusted_cas_api_v1_byok_trusted_cas_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustListResponse"
          description: Successful Response
      summary: List trusted Certificate Authorities
      tags:
      - BYOK
      - BYOK
  /api/v1/byok/certificates:
    post:
      description: Upload an X.509 certificate signed by a C2PA-trusted CA for BYOK
        signing.
      operationId: upload_certificate_api_v1_byok_certificates_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CertificateUploadRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificateUploadResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Upload a CA-signed certificate
      tags:
      - BYOK
      - BYOK
  /api/v1/documents:
    get:
      description: |-
        List signed documents for the organization.

        Supports pagination, search, and filtering by status and date range.
      operationId: list_documents_api_v1_documents_get
      parameters:
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: Page number
          minimum: 1
          title: Page
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          description: Items per page
          maximum: 100
          minimum: 1
          title: Page Size
          type: integer
        style: form
      - description: Search in title
        explode: true
        in: query
        name: search
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter by status (active/revoked)
        explode: true
        in: query
        name: status
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter from date (ISO format)
        explode: true
        in: query
        name: from_date
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter to date (ISO format)
        explode: true
        in: query
        name: to_date
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentListResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Documents
      tags:
      - Documents
      - Documents
  /api/v1/documents/{document_id}:
    delete:
      description: |-
        Soft delete a document.

        By default, this also revokes the document so it will fail verification.
        The document is not permanently deleted but marked as deleted.
      operationId: delete_document_api_v1_documents__document_id__delete
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      - description: Also revoke the document
        explode: true
        in: query
        name: revoke
        required: false
        schema:
          default: true
          description: Also revoke the document
          title: Revoke
          type: boolean
        style: form
      - description: Reason for deletion
        explode: true
        in: query
        name: reason
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentDeleteResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Document
      tags:
      - Documents
      - Documents
    get:
      description: Get detailed information about a specific document.
      operationId: get_document_api_v1_documents__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentDetailResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Document
      tags:
      - Documents
      - Documents
  /api/v1/documents/{document_id}/history:
    get:
      description: |-
        Get the audit trail/history for a document.

        Shows all actions taken on the document including signing, verification, and revocation.
      operationId: get_document_history_api_v1_documents__document_id__history_get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentHistoryResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Document History
      tags:
      - Documents
      - Documents
  /api/v1/keys:
    get:
      description: |-
        List API keys for the organization.

        Keys are masked - only the prefix is shown for security.
      operationId: list_keys_api_v1_keys_get
      parameters:
      - description: Include revoked keys
        explode: true
        in: query
        name: include_revoked
        required: false
        schema:
          default: false
          description: Include revoked keys
          title: Include Revoked
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyListResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Keys
      tags:
      - API Keys
      - API Keys
    post:
      description: |-
        Create a new API key.

        The full key is only returned once - store it securely.
      operationId: create_key_api_v1_keys_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyCreateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyCreateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Key
      tags:
      - API Keys
      - API Keys
  /api/v1/keys/{key_id}:
    delete:
      description: |-
        Revoke an API key.

        The key will immediately stop working. This action cannot be undone.
      operationId: revoke_key_api_v1_keys__key_id__delete
      parameters:
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          title: Key Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyRevokeResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Revoke Key
      tags:
      - API Keys
      - API Keys
    patch:
      description: Update an API key's name or permissions.
      operationId: update_key_api_v1_keys__key_id__patch
      parameters:
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          title: Key Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyUpdateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Key
      tags:
      - API Keys
      - API Keys
  /api/v1/keys/{key_id}/rotate:
    post:
      description: |-
        Rotate an API key.

        Creates a new key with the same permissions and revokes the old one.
        The new key is only returned once - store it securely.
      operationId: rotate_key_api_v1_keys__key_id__rotate_post
      parameters:
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          title: Key Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyRotateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Rotate Key
      tags:
      - API Keys
      - API Keys
  /api/v1/webhooks:
    get:
      description: List all webhooks for the organization.
      operationId: list_webhooks_api_v1_webhooks_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: List Webhooks
      tags:
      - Webhooks
      - Webhooks
    post:
      description: |-
        Register a new webhook.

        The webhook URL must be HTTPS. You can optionally provide a shared secret
        for HMAC signature verification of webhook payloads.
      operationId: create_webhook_api_v1_webhooks_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookCreateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookCreateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Webhook
      tags:
      - Webhooks
      - Webhooks
  /api/v1/webhooks/{webhook_id}:
    delete:
      description: Delete a webhook.
      operationId: delete_webhook_api_v1_webhooks__webhook_id__delete
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          title: Webhook Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookDeleteResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Webhook
      tags:
      - Webhooks
      - Webhooks
    get:
      description: Get details of a specific webhook.
      operationId: get_webhook_api_v1_webhooks__webhook_id__get
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          title: Webhook Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Webhook
      tags:
      - Webhooks
      - Webhooks
    patch:
      description: "Update a webhook's URL, events, or active status."
      operationId: update_webhook_api_v1_webhooks__webhook_id__patch
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          title: Webhook Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookUpdateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Webhook
      tags:
      - Webhooks
      - Webhooks
  /api/v1/webhooks/{webhook_id}/test:
    post:
      description: |-
        Send a test event to the webhook.

        This sends a test payload to verify the webhook is configured correctly.
      operationId: test_webhook_api_v1_webhooks__webhook_id__test_post
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          title: Webhook Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookTestResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Test Webhook
      tags:
      - Webhooks
      - Webhooks
  /api/v1/webhooks/{webhook_id}/deliveries:
    get:
      description: Get delivery history for a webhook.
      operationId: get_webhook_deliveries_api_v1_webhooks__webhook_id__deliveries_get
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          title: Webhook Id
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          title: Page Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookDeliveriesResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Webhook Deliveries
      tags:
      - Webhooks
      - Webhooks
  /api/v1/sign:
    post:
      description: Sign content with a C2PA manifest.
      operationId: sign_content_api_v1_sign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Sign Content
      tags:
      - Signing
  /api/v1/sign/advanced:
    post:
      description: |-
        Sign a document while enabling advanced embedding controls (e.g., manifest options and distribution strategies).

        Tier requirements are enforced server-side (typically Professional+ depending on selected options).
      operationId: sign_advanced_api_v1_sign_advanced_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncodeWithEmbeddingsRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncodeWithEmbeddingsResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Sign with advanced embedding controls
      tags:
      - Signing
  /api/v1/verify/advanced:
    post:
      description: Verify signed content and optionally run attribution/plagiarism
        analysis.
      operationId: verify_advanced_api_v1_verify_advanced_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyAdvancedRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Advanced verification
      tags:
      - Verification
  /api/v1/lookup:
    post:
      description: |-
        Look up sentence provenance by hash.

        This endpoint allows anyone to paste a sentence and find which document
        it originally came from, along with metadata about the publisher.

        Use case: User pastes a sentence, we find which document it came from.

        Note: This endpoint does NOT require authentication (public lookup).

        **Alias:** POST /provenance/lookup
      operationId: lookup_sentence_api_v1_lookup_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LookupRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Lookup Sentence
      tags:
      - Lookup
  /api/v1/provenance/lookup:
    post:
      description: |-
        Look up sentence provenance by hash.

        This is an alias for POST /lookup with a clearer name.
        Find which document a sentence originally came from.

        Note: This endpoint does NOT require authentication (public lookup).
      operationId: provenance_lookup_api_v1_provenance_lookup_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LookupRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Provenance Lookup
      tags:
      - Lookup
  /api/v1/onboarding/request-certificate:
    post:
      description: |-
        Initiate SSL.com certificate request for organization.

        This endpoint:
        1. Checks if organization already has a pending/active certificate
        2. Creates SSL.com order via API
        3. Stores order tracking in certificate_lifecycle table
        4. Returns validation URL to organization

        Args:
            organization: Organization details from authentication
            db: Database session

        Returns:
            dict: Certificate request details including validation URL

        Raises:
            HTTPException: If organization already has certificate or SSL.com API fails
      operationId: request_certificate_api_v1_onboarding_request_certificate_post
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Request Certificate
      tags:
      - Onboarding
  /api/v1/onboarding/certificate-status:
    get:
      description: |-
        Get current certificate status for organization.

        Args:
            organization: Organization details from authentication
            db: Database session

        Returns:
            dict: Current certificate status
      operationId: get_certificate_status_api_v1_onboarding_certificate_status_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Certificate Status
      tags:
      - Onboarding
  /api/v1/sign/stream:
    post:
      description: Stream signing progress via SSE.
      operationId: stream_signing_api_v1_sign_stream_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamSignRequest"
        required: true
      responses:
        "200":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Stream Signing
      tags:
      - Streaming
  /api/v1/sign/stream/sessions:
    post:
      description: |-
        Create a new streaming session.

        Args:
            session_type: Type of session (websocket, sse, kafka)
            metadata: Optional session metadata
            signing_options: Optional signing configuration
            organization: Authenticated organization
            db: Database session

        Returns:
            Session creation result with session_id
      operationId: create_streaming_session_api_v1_sign_stream_sessions_post
      parameters:
      - explode: true
        in: query
        name: session_type
        required: false
        schema:
          default: websocket
          title: Session Type
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Body_create_streaming_session_api_v1_sign_stream_sessions_post"
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Streaming Session
      tags:
      - Streaming
  /api/v1/sign/stream/sessions/{session_id}/close:
    post:
      description: |-
        Close a streaming session.

        Args:
            session_id: Session identifier
            organization: Authenticated organization
            db: Database session

        Returns:
            Session closure result with stats
      operationId: close_streaming_session_api_v1_sign_stream_sessions__session_id__close_post
      parameters:
      - explode: false
        in: path
        name: session_id
        required: true
        schema:
          title: Session Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Close Streaming Session
      tags:
      - Streaming
  /api/v1/sign/stream/sessions/{session_id}/events:
    get:
      description: |-
        Server-Sent Events (SSE) endpoint for unidirectional streaming (session scoped).

        Args:
            session_id: Session identifier
            api_key: API key for authentication

        Returns:
            StreamingResponse with SSE events
      operationId: sse_events_endpoint_api_v1_sign_stream_sessions__session_id__events_get
      parameters:
      - explode: false
        in: path
        name: session_id
        required: true
        schema:
          title: Session Id
          type: string
        style: simple
      - explode: true
        in: query
        name: api_key
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Sse Events Endpoint
      tags:
      - Streaming
  /api/v1/sign/stream/stats:
    get:
      description: |-
        Get streaming statistics for organization.

        Args:
            organization: Authenticated organization

        Returns:
            Streaming statistics
      operationId: get_streaming_stats_api_v1_sign_stream_stats_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Streaming Stats
      tags:
      - Streaming
  /api/v1/sign/stream/runs/{run_id}:
    get:
      description: Return persisted streaming run state.
      operationId: get_stream_run_api_v1_sign_stream_runs__run_id__get
      parameters:
      - explode: false
        in: path
        name: run_id
        required: true
        schema:
          title: Run Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Stream Run
      tags:
      - Streaming
  /api/v1/chat/completions:
    post:
      description: |-
        OpenAI-compatible chat completion endpoint with signing.

        This endpoint mimics the OpenAI Chat Completions API but adds
        C2PA signing to the response content.

        Args:
            request: Chat completion request
            organization: Authenticated organization
            db: Database session

        Returns:
            Chat completion response (streaming or non-streaming)
      operationId: openai_compatible_chat_api_v1_chat_completions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Openai Compatible Chat
      tags:
      - Chat
  /api/v1/chat/health:
    get:
      description: |-
        Health check for chat streaming endpoint.

        Returns:
            Health status
      operationId: chat_health_check_api_v1_chat_health_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Chat Health Check
      tags:
      - Chat
  /api/v1/usage:
    get:
      description: |-
        Get current period usage statistics for the organization.

        Returns usage metrics including:
        - C2PA signatures (documents signed)
        - Sentences tracked
        - Batch operations
        - API calls
      operationId: get_usage_stats_api_v1_usage_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Usage Stats
      tags:
      - Usage
  /api/v1/usage/history:
    get:
      description: |-
        Get historical usage data for the organization.

        Returns monthly usage summaries for the specified number of months.
      operationId: get_usage_history_api_v1_usage_history_get
      parameters:
      - explode: true
        in: query
        name: months
        required: false
        schema:
          default: 6
          title: Months
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Usage History
      tags:
      - Usage
  /api/v1/coalition/dashboard:
    get:
      description: |-
        Get coalition dashboard data for the organization.

        Returns content stats, earnings, and payout information.
      operationId: get_coalition_dashboard_api_v1_coalition_dashboard_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoalitionDashboardResponse"
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Coalition Dashboard
      tags:
      - Coalition
      - Coalition
  /api/v1/coalition/content-stats:
    get:
      description: Get historical content corpus statistics.
      operationId: get_content_stats_api_v1_coalition_content_stats_get
      parameters:
      - explode: true
        in: query
        name: months
        required: false
        schema:
          default: 12
          maximum: 24
          minimum: 1
          title: Months
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Content Stats
      tags:
      - Coalition
      - Coalition
  /api/v1/coalition/earnings:
    get:
      description: Get detailed earnings history.
      operationId: get_earnings_history_api_v1_coalition_earnings_get
      parameters:
      - explode: true
        in: query
        name: months
        required: false
        schema:
          default: 12
          maximum: 24
          minimum: 1
          title: Months
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Earnings History
      tags:
      - Coalition
      - Coalition
  /api/v1/coalition/opt-out:
    post:
      description: |-
        Opt out of the coalition revenue sharing program.

        Note: This will stop future earnings but won't affect pending payouts.
      operationId: opt_out_of_coalition_api_v1_coalition_opt_out_post
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Opt Out Of Coalition
      tags:
      - Coalition
      - Coalition
  /api/v1/coalition/opt-in:
    post:
      description: Opt back into the coalition revenue sharing program.
      operationId: opt_in_to_coalition_api_v1_coalition_opt_in_post
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Opt In To Coalition
      tags:
      - Coalition
      - Coalition
  /api/v1/status/documents/{document_id}/revoke:
    post:
      description: |-
        Revoke a document's authenticity.

        The document will fail verification within 5 minutes (CDN cache TTL).
        This action is reversible via the reinstate endpoint.

        **Revocation Reasons:**
        - `factual_error`: Content contains factual errors
        - `legal_takedown`: Legal request (DMCA, court order)
        - `copyright_claim`: Copyright infringement claim
        - `privacy_request`: Privacy/GDPR request
        - `publisher_request`: Publisher-initiated takedown
        - `security_concern`: Security vulnerability in content
        - `content_policy`: Violates content policy
        - `other`: Other reason (specify in reason_detail)
      operationId: revoke_document_api_v1_status_documents__document_id__revoke_post
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevocationResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Revoke Document
      tags:
      - Status & Revocation
      - Status & Revocation
  /api/v1/status/documents/{document_id}/reinstate:
    post:
      description: |-
        Reinstate a previously revoked document.

        The document will pass verification again within 5 minutes (CDN cache TTL).
      operationId: reinstate_document_api_v1_status_documents__document_id__reinstate_post
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevocationResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Reinstate Document
      tags:
      - Status & Revocation
      - Status & Revocation
  /api/v1/status/documents/{document_id}:
    get:
      description: Get the revocation status of a document.
      operationId: get_document_status_api_v1_status_documents__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentStatusResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Document Status
      tags:
      - Status & Revocation
      - Status & Revocation
  /api/v1/status/list/{organization_id}/{list_index}:
    get:
      description: |-
        Get a status list credential (public, no auth required).

        This endpoint serves W3C StatusList2021 credentials for verification.
        Responses are designed to be cached by CDN with 5-minute TTL.

        **Response Format:** W3C StatusList2021Credential (JSON-LD)
      operationId: get_status_list_api_v1_status_list__organization_id___list_index__get
      parameters:
      - explode: false
        in: path
        name: organization_id
        required: true
        schema:
          title: Organization Id
          type: string
        style: simple
      - explode: false
        in: path
        name: list_index
        required: true
        schema:
          title: List Index
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Status List
      tags:
      - Status & Revocation
      - Status & Revocation
  /api/v1/status/stats:
    get:
      description: Get status list statistics for the organization.
      operationId: get_status_stats_api_v1_status_stats_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Status Stats
      tags:
      - Status & Revocation
      - Status & Revocation
  /api/v1/batch/sign:
    post:
      description: Sign multiple documents in a single request.
      operationId: batch_sign_api_v1_batch_sign_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchSignRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponseEnvelope"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Batch Sign
      tags:
      - Batch
  /api/v1/batch/verify:
    post:
      description: Verify multiple documents in a single request.
      operationId: batch_verify_api_v1_batch_verify_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/app__schemas__batch__BatchVerifyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponseEnvelope"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Batch Verify
      tags:
      - Batch
  /api/v1/enterprise/merkle/encode:
    post:
      description: "Encode a document into Merkle trees at specified segmentation\
        \ levels.\n    \n    This endpoint:\n    1. Segments the document text at\
        \ multiple levels (word/sentence/paragraph/section)\n    2. Builds Merkle\
        \ trees for each segmentation level\n    3. Stores all tree data in the database\
        \ for future attribution queries\n    4. Returns root hashes and tree metadata\n\
        \    \n    **Enterprise Tier Only** - Requires valid organization with Merkle\
        \ features enabled.\n    \n    **Rate Limits:**\n    - Free tier: Not available\n\
        \    - Enterprise tier: 1000 documents/month\n    \n    **Processing Time:**\n\
        \    - Small documents (<1000 words): ~100-200ms\n    - Medium documents (1000-10000\
        \ words): ~500ms-2s\n    - Large documents (>10000 words): ~2-10s"
      operationId: encode_document_api_v1_enterprise_merkle_encode_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentEncodeRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentEncodeResponse"
          description: Document encoded successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Invalid request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Quota exceeded or feature not enabled
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/app__schemas__merkle__ErrorResponse"
          description: Server error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Encode Document into Merkle Trees
      tags:
      - Enterprise - Merkle Trees
  /api/v1/enterprise/c2pa/schemas:
    get:
      description: |-
        List available C2PA assertion schemas.

        Returns schemas owned by the organization or public schemas.
      operationId: list_schemas_api_v1_enterprise_c2pa_schemas_get
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          title: Page Size
          type: integer
        style: form
      - explode: true
        in: query
        name: is_public
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PASchemaListResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Schemas
      tags:
      - C2PA Custom Assertions
    post:
      description: |-
        Register a custom C2PA assertion schema.

        Allows organizations to define custom assertion types with
        JSON Schema validation rules.
      operationId: create_schema_api_v1_enterprise_c2pa_schemas_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2PASchemaCreate"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PASchemaResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Schema
      tags:
      - C2PA Custom Assertions
  /api/v1/enterprise/c2pa/schemas/{schema_id}:
    delete:
      description: Delete a C2PA assertion schema.
      operationId: delete_schema_api_v1_enterprise_c2pa_schemas__schema_id__delete
      parameters:
      - explode: false
        in: path
        name: schema_id
        required: true
        schema:
          title: Schema Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Schema
      tags:
      - C2PA Custom Assertions
    get:
      description: Get a specific C2PA assertion schema.
      operationId: get_schema_api_v1_enterprise_c2pa_schemas__schema_id__get
      parameters:
      - explode: false
        in: path
        name: schema_id
        required: true
        schema:
          title: Schema Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PASchemaResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Schema
      tags:
      - C2PA Custom Assertions
    put:
      description: Update a C2PA assertion schema.
      operationId: update_schema_api_v1_enterprise_c2pa_schemas__schema_id__put
      parameters:
      - explode: false
        in: path
        name: schema_id
        required: true
        schema:
          title: Schema Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2PASchemaUpdate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PASchemaResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Schema
      tags:
      - C2PA Custom Assertions
  /api/v1/enterprise/c2pa/validate:
    post:
      description: |-
        Validate a C2PA assertion before embedding.

        Checks the assertion data against its registered schema.
      operationId: validate_assertion_api_v1_enterprise_c2pa_validate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2PAAssertionValidateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PAAssertionValidateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Validate Assertion
      tags:
      - C2PA Custom Assertions
  /api/v1/enterprise/c2pa/templates:
    get:
      description: List available assertion templates.
      operationId: list_templates_api_v1_enterprise_c2pa_templates_get
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          title: Page
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          title: Page Size
          type: integer
        style: form
      - explode: true
        in: query
        name: category
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PATemplateListResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: List Templates
      tags:
      - C2PA Custom Assertions
    post:
      description: Create a new assertion template.
      operationId: create_template_api_v1_enterprise_c2pa_templates_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2PATemplateCreate"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PATemplateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Create Template
      tags:
      - C2PA Custom Assertions
  /api/v1/enterprise/c2pa/templates/{template_id}:
    delete:
      description: Delete an assertion template.
      operationId: delete_template_api_v1_enterprise_c2pa_templates__template_id__delete
      parameters:
      - explode: false
        in: path
        name: template_id
        required: true
        schema:
          title: Template Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Delete Template
      tags:
      - C2PA Custom Assertions
    get:
      description: Get a specific assertion template.
      operationId: get_template_api_v1_enterprise_c2pa_templates__template_id__get
      parameters:
      - explode: false
        in: path
        name: template_id
        required: true
        schema:
          title: Template Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PATemplateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Template
      tags:
      - C2PA Custom Assertions
    put:
      description: Update an assertion template.
      operationId: update_template_api_v1_enterprise_c2pa_templates__template_id__put
      parameters:
      - explode: false
        in: path
        name: template_id
        required: true
        schema:
          title: Template Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2PATemplateUpdate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2PATemplateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Update Template
      tags:
      - C2PA Custom Assertions
  /api/v1/enterprise/stream/merkle/start:
    post:
      description: |-
        Start a new streaming Merkle tree construction session.

        This initiates a session that allows segments to be added incrementally,
        ideal for real-time LLM output signing where content is generated token-by-token.

        **Tier Requirement:** Professional+

        Patent Reference: FIG. 5 - Streaming Merkle Tree Construction
      operationId: start_streaming_merkle_session_api_v1_enterprise_stream_merkle_start_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamMerkleStartRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMerkleStartResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Start Streaming Merkle Session
      tags:
      - Streaming Merkle
  /api/v1/enterprise/stream/merkle/segment:
    post:
      description: |-
        Add a segment to an active streaming Merkle session.

        Segments are buffered and combined into the Merkle tree incrementally.
        The tree is constructed using a bounded buffer approach for memory efficiency.

        Set `is_final=true` to finalize the session after adding this segment.
      operationId: add_segment_to_session_api_v1_enterprise_stream_merkle_segment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamMerkleSegmentRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMerkleSegmentResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Add Segment To Session
      tags:
      - Streaming Merkle
  /api/v1/enterprise/stream/merkle/finalize:
    post:
      description: |-
        Finalize a streaming Merkle session and compute the final root.

        This completes the tree construction, computes the final root hash,
        and optionally embeds a C2PA manifest into the full document.
      operationId: finalize_streaming_session_api_v1_enterprise_stream_merkle_finalize_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamMerkleFinalizeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMerkleFinalizeResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Finalize Streaming Session
      tags:
      - Streaming Merkle
  /api/v1/enterprise/stream/merkle/status:
    post:
      description: Check the status of a streaming Merkle session.
      operationId: get_session_status_api_v1_enterprise_stream_merkle_status_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StreamMerkleStatusRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMerkleStatusResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Session Status
      tags:
      - Streaming Merkle
  /api/v1/enterprise/evidence/generate:
    post:
      description: |-
        Generate an evidence package for content attribution.

        This endpoint creates a comprehensive evidence package containing:
        - Content hash verification
        - Merkle proof (if available)
        - Signature verification chain
        - Timestamp verification
        - Source attribution details

        **Tier Requirement:** Enterprise

        Patent Reference: FIG. 11 - Evidence Generation & Attribution Flow
      operationId: generate_evidence_api_v1_enterprise_evidence_generate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvidenceGenerateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvidenceGenerateResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Generate Evidence
      tags:
      - Evidence Generation
  /api/v1/enterprise/fingerprint/encode:
    post:
      description: |-
        Encode a robust fingerprint into text.

        Fingerprints use secret-seeded placement of invisible markers
        that survive text modifications like paraphrasing or truncation.

        **Tier Requirement:** Enterprise
      operationId: encode_fingerprint_api_v1_enterprise_fingerprint_encode_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FingerprintEncodeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FingerprintEncodeResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Encode Fingerprint
      tags:
      - Fingerprint
  /api/v1/enterprise/fingerprint/detect:
    post:
      description: |-
        Detect a fingerprint in text.

        Detection uses score-based matching with confidence threshold
        to identify fingerprinted content even after modifications.

        **Tier Requirement:** Enterprise
      operationId: detect_fingerprint_api_v1_enterprise_fingerprint_detect_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FingerprintDetectRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FingerprintDetectResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Detect Fingerprint
      tags:
      - Fingerprint
  /api/v1/enterprise/attribution/multi-source:
    post:
      description: |-
        Look up content across multiple sources.

        Returns all matching sources with linked-list tracking,
        chronological ordering, and optional authority ranking.

        **Tier Requirement:** Business+ (Authority ranking requires Enterprise)

        Patent Reference: FIG. 8 - Multi-Source Hash Table Lookup
      operationId: multi_source_lookup_api_v1_enterprise_attribution_multi_source_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MultiSourceLookupRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiSourceLookupResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Multi Source Lookup
      tags:
      - Multi-Source Attribution
  /api/v1/public/verify/{ref_id}:
    get:
      description: "Verify a minimal signed embedding and retrieve associated metadata.\n\
        \    \n    **This endpoint is PUBLIC and does NOT require authentication.**\n\
        \    \n    Third parties can use this endpoint to:\n    - Verify authenticity\
        \ of content with embedded markers\n    - Retrieve document metadata (title,\
        \ author, organization)\n    - Access C2PA manifest information\n    - View\
        \ licensing terms\n    - Get Merkle proof for cryptographic verification\n\
        \    \n    **Rate Limiting:**\n    - 1000 requests/hour per IP address\n \
        \   - CAPTCHA required after repeated failures\n    \n    **Privacy:**\n \
        \   - Only returns text preview (first 200 characters)\n    - Full text content\
        \ is NOT exposed\n    - Internal document IDs are mapped to public IDs\n \
        \   \n    **Example Usage:**\n    ```\n    GET /api/v1/public/verify/a3f9c2e1?signature=8k3mP9xQ\n\
        \    ```"
      operationId: verify_embedding_api_v1_public_verify__ref_id__get
      parameters:
      - explode: false
        in: path
        name: ref_id
        required: true
        schema:
          title: Ref Id
          type: string
        style: simple
      - description: HMAC signature (8+ hex characters)
        explode: true
        in: query
        name: signature
        required: true
        schema:
          description: HMAC signature (8+ hex characters)
          title: Signature
          type: string
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyEmbeddingResponse"
          description: Embedding verified successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Embedding not found
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Rate limit exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Verify Embedding (Public - No Auth Required)
      tags:
      - Public - Verification
  /api/v1/public/verify/batch:
    post:
      description: "Verify multiple embeddings in a single request.\n    \n    **This\
        \ endpoint is PUBLIC and does NOT require authentication.**\n    \n    Useful\
        \ for:\n    - Verifying all embeddings on a page at once\n    - Bulk verification\
        \ by web scrapers\n    - Browser extensions checking multiple paragraphs\n\
        \    \n    **Rate Limiting:**\n    - 100 requests/hour per IP address\n  \
        \  - Maximum 50 embeddings per request"
      operationId: batch_verify_embeddings_api_v1_public_verify_batch_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchVerifyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchVerifyResponse"
          description: Batch verification completed
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid request
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Rate limit exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Batch Verify Embeddings (Public - No Auth Required)
      tags:
      - Public - Verification
  /api/v1/public/extract-and-verify:
    post:
      description: "Extract and verify invisible Unicode embedding from text using\
        \ encypher-ai.\n    \n    **This endpoint is PUBLIC and does NOT require authentication.**\n\
        \    \n    This is the NEW verification method for invisible embeddings:\n\
        \    - Extracts invisible Unicode variation selector embeddings\n    - Verifies\
        \ cryptographic signature using encypher-ai\n    - Returns enterprise metadata\
        \ (Merkle tree, document info, etc.)\n    \n    **How it works:**\n    1.\
        \ Text contains invisible Unicode variation selectors\n    2. encypher-ai\
        \ extracts and verifies the embedded metadata\n    3. Enterprise API looks\
        \ up Merkle tree and document info\n    4. Returns full verification result\
        \ with all metadata\n    \n    **Rate Limiting:**\n    - 1000 requests/hour\
        \ per IP address\n    \n    **Example Usage:**\n    ```json\n    POST /api/v1/public/extract-and-verify\n\
        \    {\n      \"text\": \"Content with invisible embedding...\"\n    }\n \
        \   ```"
      operationId: extract_and_verify_embedding_api_v1_public_extract_and_verify_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExtractAndVerifyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtractAndVerifyResponse"
          description: Embedding extracted and verified
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: No embedding found
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Rate limit exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Extract and Verify Invisible Embedding (Public - No Auth Required)
      tags:
      - Public - Verification
  /api/v1/public/c2pa/validate-manifest:
    post:
      description: |-
        Validate a manifest JSON payload and (optionally) validate assertion payloads against provided JSON Schemas. This endpoint performs structural/schema validation only and does not verify cryptographic signatures.

        Authentication is optional: unauthenticated requests are IP rate-limited; providing an API key may grant higher limits.
      operationId: validate_manifest_api_v1_public_c2pa_validate_manifest_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateManifestRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateManifestResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Validate C2PA-like manifest JSON (Public - Non-Cryptographic)
      tags:
      - Public - C2PA
  /api/v1/public/c2pa/create-manifest:
    post:
      description: |-
        Create a C2PA-like manifest JSON payload from plaintext. This endpoint is intended for client-side workflows that want a server-generated starting point for a manifest before cryptographic signing.

        Authentication is optional: unauthenticated requests are IP rate-limited; providing an API key may grant higher limits.
      operationId: create_manifest_api_v1_public_c2pa_create_manifest_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateManifestRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateManifestResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Create C2PA-like manifest JSON from plaintext (Public - Non-Cryptographic)
      tags:
      - Public - C2PA
  /api/v1/public/c2pa/trust-anchors/{signer_id}:
    get:
      description: |-
        Lookup a trust anchor (public key) for external C2PA validators.

        This endpoint enables third-party validators to verify Encypher-signed
        content by providing the signer's public key. This implements the
        "Private Credential Store" model per C2PA spec §14.4.3.

        **Special signer IDs:**
        - `encypher.public` or `org_demo`: Returns Encypher's official demo/free-tier key
        - `demo-*`: Returns demo/test keys (non-production)

        **C2PA Spec Reference:**
        https://spec.c2pa.org/specifications/specifications/2.2/specs/C2PA_Specification.html#_trust_lists
      operationId: get_trust_anchor_api_v1_public_c2pa_trust_anchors__signer_id__get
      parameters:
      - description: Signer identifier from manifest
        explode: false
        in: path
        name: signer_id
        required: true
        schema:
          description: Signer identifier from manifest
          title: Signer Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustAnchorResponse"
          description: Successful Response
        "404":
          description: Signer not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Lookup trust anchor for C2PA verification (Public)
      tags:
      - Public - C2PA
  /api/v1/verify:
    post:
      description: Verify signed content and return a structured verdict.
      operationId: verify_text_api_v1_verify_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Verify Text
      tags:
      - verification
  /api/v1/verify/{document_id}:
    get:
      description: |-
        Verify a document by its ID (for clickable verification links).

        Returns an HTML page so users can preview verification state in a browser.
        This endpoint queries the content database for the signed document.
      operationId: verify_by_document_id_api_v1_verify__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Verify By Document Id
      tags:
      - verification
  /api/v1/verify/signature:
    post:
      description: |-
        Verify a signature (public endpoint)

        - **content**: Original content
        - **signature**: Hex-encoded signature
        - **public_key_pem**: PEM-encoded public key
      operationId: verify_signature_api_v1_verify_signature_post
      parameters:
      - explode: false
        in: header
        name: x-forwarded-for
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: user-agent
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignatureVerify"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Verify Signature
      tags:
      - verification
  /api/v1/verify/document:
    post:
      description: |-
        Complete document verification (public endpoint)

        - **document_id**: Document ID from encoding service
        - **content**: Current content to verify
      operationId: verify_document_api_v1_verify_document_post
      parameters:
      - explode: false
        in: header
        name: x-forwarded-for
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: user-agent
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentVerify"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationResponse"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Verify Document
      tags:
      - verification
  /api/v1/verify/history/{document_id}:
    get:
      description: |-
        Get verification history for a document (public endpoint)

        - **document_id**: Document ID
        - **limit**: Maximum number of results
      operationId: get_verification_history_api_v1_verify_history__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/VerificationHistory"
                type: array
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Verification History
      tags:
      - verification
  /api/v1/verify/stats:
    get:
      description: Get verification statistics
      operationId: get_stats_api_v1_verify_stats_get
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          title: Authorization
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationStats"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Stats
      tags:
      - verification
  /api/v1/verify/health:
    get:
      description: Health check endpoint
      operationId: health_check_api_v1_verify_health_get
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Health Check
      tags:
      - verification
components:
  schemas:
    StreamMerkleStartRequest:
      description: |-
        Request to start a streaming Merkle tree construction session.

        Patent Reference: FIG. 5 - Streaming Merkle Tree Construction

        This initiates a session that allows segments to be added incrementally,
        ideal for real-time LLM output signing where content is generated token-by-token.
      example:
        metadata:
          key: ""
        segmentation_level: sentence
        auto_finalize_timeout_seconds: 2181
        buffer_size: 801
        document_id: document_id
      properties:
        document_id:
          description: Unique document identifier
          title: Document Id
          type: string
        segmentation_level:
          default: sentence
          description: "Segmentation level: sentence, paragraph, section"
          title: Segmentation Level
          type: string
        metadata:
          additionalProperties: {}
          nullable: true
        buffer_size:
          default: 100
          description: Maximum number of segments to buffer before forcing a flush
          maximum: 10000.0
          minimum: 1.0
          title: Buffer Size
          type: integer
        auto_finalize_timeout_seconds:
          default: 300
          description: Timeout in seconds after which session auto-finalizes if idle
          maximum: 3600.0
          minimum: 30.0
          title: Auto Finalize Timeout Seconds
          type: integer
      required:
      - document_id
      title: StreamMerkleStartRequest
    StreamMerkleSegmentResponse:
      description: Response after adding a segment to the streaming Merkle tree.
      example:
        segment_index: 0
        segment_hash: segment_hash
        intermediate_root: intermediate_root
        success: true
        session_id: session_id
        message: message
        total_segments: 1
        buffer_count: 6
      properties:
        success:
          description: Whether segment was added successfully
          title: Success
          type: boolean
        session_id:
          description: Session identifier
          title: Session Id
          type: string
        segment_index:
          description: Index of the added segment
          title: Segment Index
          type: integer
        segment_hash:
          description: SHA-256 hash of the segment
          title: Segment Hash
          type: string
        buffer_count:
          description: Current number of segments in buffer
          title: Buffer Count
          type: integer
        total_segments:
          description: Total segments added to session
          title: Total Segments
          type: integer
        intermediate_root:
          nullable: true
          type: string
        message:
          description: Status message
          title: Message
          type: string
      required:
      - buffer_count
      - message
      - segment_hash
      - segment_index
      - session_id
      - success
      - total_segments
      title: StreamMerkleSegmentResponse
    FingerprintEncodeResponse:
      description: Response after encoding a fingerprint.
      example:
        processing_time_ms: 6.027456183070403
        fingerprint_id: fingerprint_id
        success: true
        fingerprint_key_hash: fingerprint_key_hash
        document_id: document_id
        fingerprinted_text: fingerprinted_text
        message: message
        markers_embedded: 0
      properties:
        success:
          description: Whether encoding succeeded
          title: Success
          type: boolean
        document_id:
          description: Document identifier
          title: Document Id
          type: string
        fingerprint_id:
          description: Unique fingerprint identifier
          title: Fingerprint Id
          type: string
        fingerprinted_text:
          description: Text with embedded fingerprint
          title: Fingerprinted Text
          type: string
        fingerprint_key_hash:
          description: Hash of fingerprint key (for verification)
          title: Fingerprint Key Hash
          type: string
        markers_embedded:
          description: Number of markers embedded
          title: Markers Embedded
          type: integer
        processing_time_ms:
          description: Processing time in milliseconds
          title: Processing Time Ms
          type: number
        message:
          description: Status message
          title: Message
          type: string
      required:
      - document_id
      - fingerprint_id
      - fingerprint_key_hash
      - fingerprinted_text
      - markers_embedded
      - message
      - processing_time_ms
      - success
      title: FingerprintEncodeResponse
    LookupRequest:
      description: Request model for sentence lookup.
      example:
        sentence_text: sentence_text
      properties:
        sentence_text:
          description: Sentence to look up
          minLength: 1
          title: Sentence Text
          type: string
      required:
      - sentence_text
      title: LookupRequest
    C2PAAssertionValidateRequest:
      description: Request schema for validating a C2PA assertion.
      example:
        data:
          key: ""
        label: label
      properties:
        label:
          description: Assertion label to validate
          title: Label
          type: string
        data:
          additionalProperties: {}
          description: Assertion data to validate
          title: Data
      required:
      - data
      - label
      title: C2PAAssertionValidateRequest
    MultiSourceLookupResponse:
      description: Response containing multi-source lookup results.
      example:
        query_hash: query_hash
        processing_time_ms: 2.3021358869347655
        sources:
        - metadata:
            key: ""
          segment_hash: segment_hash
          is_original: true
          authority_score: 0.5962133916683182
          confidence: 0.14658129805029452
          created_at: 2000-01-23T04:56:07.000+00:00
          organization_name: organization_name
          document_id: document_id
          leaf_index: 6
          organization_id: organization_id
          previous_source_id: previous_source_id
          merkle_root_hash: merkle_root_hash
          signed_at: 2000-01-23T04:56:07.000+00:00
          next_source_id: next_source_id
        - metadata:
            key: ""
          segment_hash: segment_hash
          is_original: true
          authority_score: 0.5962133916683182
          confidence: 0.14658129805029452
          created_at: 2000-01-23T04:56:07.000+00:00
          organization_name: organization_name
          document_id: document_id
          leaf_index: 6
          organization_id: organization_id
          previous_source_id: previous_source_id
          merkle_root_hash: merkle_root_hash
          signed_at: 2000-01-23T04:56:07.000+00:00
          next_source_id: next_source_id
        chain_length: 5
        success: true
        has_chain: true
        total_sources: 0
        message: message
        original_source:
          metadata:
            key: ""
          segment_hash: segment_hash
          is_original: true
          authority_score: 0.5962133916683182
          confidence: 0.14658129805029452
          created_at: 2000-01-23T04:56:07.000+00:00
          organization_name: organization_name
          document_id: document_id
          leaf_index: 6
          organization_id: organization_id
          previous_source_id: previous_source_id
          merkle_root_hash: merkle_root_hash
          signed_at: 2000-01-23T04:56:07.000+00:00
          next_source_id: next_source_id
      properties:
        success:
          description: Whether lookup succeeded
          title: Success
          type: boolean
        query_hash:
          description: Hash of the queried text
          title: Query Hash
          type: string
        total_sources:
          description: Total number of matching sources
          title: Total Sources
          type: integer
        sources:
          description: List of matching sources
          items:
            $ref: "#/components/schemas/SourceRecord"
          type: array
        original_source:
          $ref: "#/components/schemas/SourceRecord"
        has_chain:
          description: Whether sources form a linked chain
          title: Has Chain
          type: boolean
        chain_length:
          default: 0
          description: Length of the source chain
          title: Chain Length
          type: integer
        processing_time_ms:
[...]
