/*
Encypher Enterprise API

C2PA-compliant content signing and verification infrastructure for publishers, legal/finance firms, AI labs, and enterprises

API version: 1.0.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package encypher

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type MultiSourceAttributionAPI interface {

	/*
	MultiSourceLookupApiV1EnterpriseAttributionMultiSourcePost Multi Source Lookup

	Look up content across multiple sources.

Returns all matching sources with linked-list tracking,
chronological ordering, and optional authority ranking.

**Tier Requirement:** Business+ (Authority ranking requires Enterprise)

Patent Reference: FIG. 8 - Multi-Source Hash Table Lookup

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiMultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostRequest
	*/
	MultiSourceLookupApiV1EnterpriseAttributionMultiSourcePost(ctx context.Context) ApiMultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostRequest

	// MultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostExecute executes the request
	//  @return MultiSourceLookupResponse
	MultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostExecute(r ApiMultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostRequest) (*MultiSourceLookupResponse, *http.Response, error)
}

// MultiSourceAttributionAPIService MultiSourceAttributionAPI service
type MultiSourceAttributionAPIService service

type ApiMultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostRequest struct {
	ctx context.Context
	ApiService MultiSourceAttributionAPI
	multiSourceLookupRequest *MultiSourceLookupRequest
}

func (r ApiMultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostRequest) MultiSourceLookupRequest(multiSourceLookupRequest MultiSourceLookupRequest) ApiMultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostRequest {
	r.multiSourceLookupRequest = &multiSourceLookupRequest
	return r
}

func (r ApiMultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostRequest) Execute() (*MultiSourceLookupResponse, *http.Response, error) {
	return r.ApiService.MultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostExecute(r)
}

/*
MultiSourceLookupApiV1EnterpriseAttributionMultiSourcePost Multi Source Lookup

Look up content across multiple sources.

Returns all matching sources with linked-list tracking,
chronological ordering, and optional authority ranking.

**Tier Requirement:** Business+ (Authority ranking requires Enterprise)

Patent Reference: FIG. 8 - Multi-Source Hash Table Lookup

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostRequest
*/
func (a *MultiSourceAttributionAPIService) MultiSourceLookupApiV1EnterpriseAttributionMultiSourcePost(ctx context.Context) ApiMultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostRequest {
	return ApiMultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MultiSourceLookupResponse
func (a *MultiSourceAttributionAPIService) MultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostExecute(r ApiMultiSourceLookupApiV1EnterpriseAttributionMultiSourcePostRequest) (*MultiSourceLookupResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MultiSourceLookupResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MultiSourceAttributionAPIService.MultiSourceLookupApiV1EnterpriseAttributionMultiSourcePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/enterprise/attribution/multi-source"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.multiSourceLookupRequest == nil {
		return localVarReturnValue, nil, reportError("multiSourceLookupRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.multiSourceLookupRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
