/*
Encypher Enterprise API

C2PA-compliant content signing and verification infrastructure for publishers, legal/finance firms, AI labs, and enterprises

API version: 1.0.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package encypher

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type SigningAPI interface {

	/*
	SignAdvancedApiV1SignAdvancedPost REMOVED - Use POST /sign with options instead

	**⚠️ REMOVED: This endpoint has been removed.**

Please use `POST /sign` with options instead.

Migration example:
```json
// Old /sign/advanced request
{
    "document_id": "doc1",
    "text": "...",
    "segmentation_level": "sentence"
}

// New /sign request
{
    "text": "...",
    "document_id": "doc1",
    "options": {
        "segmentation_level": "sentence"
    }
}
```

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSignAdvancedApiV1SignAdvancedPostRequest

	Deprecated
	*/
	SignAdvancedApiV1SignAdvancedPost(ctx context.Context) ApiSignAdvancedApiV1SignAdvancedPostRequest

	// SignAdvancedApiV1SignAdvancedPostExecute executes the request
	//  @return interface{}
	// Deprecated
	SignAdvancedApiV1SignAdvancedPostExecute(r ApiSignAdvancedApiV1SignAdvancedPostRequest) (interface{}, *http.Response, error)

	/*
	SignContentApiV1SignPost Sign content with C2PA manifest

	Sign content with C2PA manifest. Features are gated by tier.

**Tier Feature Matrix:**

| Feature | Free/Starter | Professional | Business | Enterprise |
|---------|--------------|--------------|----------|------------|
| Basic C2PA signing | ✅ | ✅ | ✅ | ✅ |
| Sentence segmentation | ❌ | ✅ | ✅ | ✅ |
| Advanced manifest modes | ❌ | ✅ | ✅ | ✅ |
| Attribution indexing | ❌ | ✅ | ✅ | ✅ |
| Custom assertions | ❌ | ❌ | ✅ | ✅ |
| Rights metadata | ❌ | ❌ | ✅ | ✅ |
| Dual binding | ❌ | ❌ | ❌ | ✅ |
| Fingerprinting | ❌ | ❌ | ❌ | ✅ |
| Batch size | 1 | 10 | 50 | 100 |

**Single Document:**
```json
{
    "text": "Content to sign...",
    "document_title": "My Article",
    "options": {
        "segmentation_level": "sentence"
    }
}
```

**Batch (Professional+):**
```json
{
    "documents": [
        {"text": "First doc...", "document_title": "Doc 1"},
        {"text": "Second doc...", "document_title": "Doc 2"}
    ],
    "options": {
        "segmentation_level": "sentence"
    }
}
```

The response includes `meta.features_gated` showing features available at higher tiers.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSignContentApiV1SignPostRequest
	*/
	SignContentApiV1SignPost(ctx context.Context) ApiSignContentApiV1SignPostRequest

	// SignContentApiV1SignPostExecute executes the request
	//  @return interface{}
	SignContentApiV1SignPostExecute(r ApiSignContentApiV1SignPostRequest) (interface{}, *http.Response, error)
}

// SigningAPIService SigningAPI service
type SigningAPIService service

type ApiSignAdvancedApiV1SignAdvancedPostRequest struct {
	ctx context.Context
	ApiService SigningAPI
}

func (r ApiSignAdvancedApiV1SignAdvancedPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SignAdvancedApiV1SignAdvancedPostExecute(r)
}

/*
SignAdvancedApiV1SignAdvancedPost REMOVED - Use POST /sign with options instead

**⚠️ REMOVED: This endpoint has been removed.**

Please use `POST /sign` with options instead.

Migration example:
```json
// Old /sign/advanced request
{
    "document_id": "doc1",
    "text": "...",
    "segmentation_level": "sentence"
}

// New /sign request
{
    "text": "...",
    "document_id": "doc1",
    "options": {
        "segmentation_level": "sentence"
    }
}
```

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSignAdvancedApiV1SignAdvancedPostRequest

Deprecated
*/
func (a *SigningAPIService) SignAdvancedApiV1SignAdvancedPost(ctx context.Context) ApiSignAdvancedApiV1SignAdvancedPostRequest {
	return ApiSignAdvancedApiV1SignAdvancedPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
// Deprecated
func (a *SigningAPIService) SignAdvancedApiV1SignAdvancedPostExecute(r ApiSignAdvancedApiV1SignAdvancedPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningAPIService.SignAdvancedApiV1SignAdvancedPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/sign/advanced"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSignContentApiV1SignPostRequest struct {
	ctx context.Context
	ApiService SigningAPI
	unifiedSignRequest *UnifiedSignRequest
}

func (r ApiSignContentApiV1SignPostRequest) UnifiedSignRequest(unifiedSignRequest UnifiedSignRequest) ApiSignContentApiV1SignPostRequest {
	r.unifiedSignRequest = &unifiedSignRequest
	return r
}

func (r ApiSignContentApiV1SignPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SignContentApiV1SignPostExecute(r)
}

/*
SignContentApiV1SignPost Sign content with C2PA manifest

Sign content with C2PA manifest. Features are gated by tier.

**Tier Feature Matrix:**

| Feature | Free/Starter | Professional | Business | Enterprise |
|---------|--------------|--------------|----------|------------|
| Basic C2PA signing | ✅ | ✅ | ✅ | ✅ |
| Sentence segmentation | ❌ | ✅ | ✅ | ✅ |
| Advanced manifest modes | ❌ | ✅ | ✅ | ✅ |
| Attribution indexing | ❌ | ✅ | ✅ | ✅ |
| Custom assertions | ❌ | ❌ | ✅ | ✅ |
| Rights metadata | ❌ | ❌ | ✅ | ✅ |
| Dual binding | ❌ | ❌ | ❌ | ✅ |
| Fingerprinting | ❌ | ❌ | ❌ | ✅ |
| Batch size | 1 | 10 | 50 | 100 |

**Single Document:**
```json
{
    "text": "Content to sign...",
    "document_title": "My Article",
    "options": {
        "segmentation_level": "sentence"
    }
}
```

**Batch (Professional+):**
```json
{
    "documents": [
        {"text": "First doc...", "document_title": "Doc 1"},
        {"text": "Second doc...", "document_title": "Doc 2"}
    ],
    "options": {
        "segmentation_level": "sentence"
    }
}
```

The response includes `meta.features_gated` showing features available at higher tiers.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSignContentApiV1SignPostRequest
*/
func (a *SigningAPIService) SignContentApiV1SignPost(ctx context.Context) ApiSignContentApiV1SignPostRequest {
	return ApiSignContentApiV1SignPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SigningAPIService) SignContentApiV1SignPostExecute(r ApiSignContentApiV1SignPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningAPIService.SignContentApiV1SignPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/sign"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unifiedSignRequest == nil {
		return localVarReturnValue, nil, reportError("unifiedSignRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unifiedSignRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
