/*
Encypher Enterprise API

C2PA-compliant content signing and verification infrastructure for publishers, legal/finance firms, AI labs, and enterprises

API version: 1.0.0-preview
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package encypher

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type AuditAPI interface {

	/*
	ExportAuditLogsApiV1AuditLogsExportGet Export Audit Logs

	Export audit logs in JSON or CSV format.

Returns all logs within the specified date range.
Default is last 30 days if no dates specified.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiExportAuditLogsApiV1AuditLogsExportGetRequest
	*/
	ExportAuditLogsApiV1AuditLogsExportGet(ctx context.Context) ApiExportAuditLogsApiV1AuditLogsExportGetRequest

	// ExportAuditLogsApiV1AuditLogsExportGetExecute executes the request
	//  @return interface{}
	ExportAuditLogsApiV1AuditLogsExportGetExecute(r ApiExportAuditLogsApiV1AuditLogsExportGetRequest) (interface{}, *http.Response, error)

	/*
	GetAuditLogsApiV1AuditLogsGet Get Audit Logs

	Get audit logs for the organization.

Supports filtering by:
- action: Type of action (e.g., "document.signed")
- actor_id: ID of the user or API key that performed the action
- resource_type: Type of resource affected
- start_date/end_date: Date range

Results are paginated and sorted by timestamp (newest first).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAuditLogsApiV1AuditLogsGetRequest
	*/
	GetAuditLogsApiV1AuditLogsGet(ctx context.Context) ApiGetAuditLogsApiV1AuditLogsGetRequest

	// GetAuditLogsApiV1AuditLogsGetExecute executes the request
	//  @return AuditLogResponse
	GetAuditLogsApiV1AuditLogsGetExecute(r ApiGetAuditLogsApiV1AuditLogsGetRequest) (*AuditLogResponse, *http.Response, error)
}

// AuditAPIService AuditAPI service
type AuditAPIService service

type ApiExportAuditLogsApiV1AuditLogsExportGetRequest struct {
	ctx context.Context
	ApiService AuditAPI
	format *string
	startDate *string
	endDate *string
}

func (r ApiExportAuditLogsApiV1AuditLogsExportGetRequest) Format(format string) ApiExportAuditLogsApiV1AuditLogsExportGetRequest {
	r.format = &format
	return r
}

func (r ApiExportAuditLogsApiV1AuditLogsExportGetRequest) StartDate(startDate string) ApiExportAuditLogsApiV1AuditLogsExportGetRequest {
	r.startDate = &startDate
	return r
}

func (r ApiExportAuditLogsApiV1AuditLogsExportGetRequest) EndDate(endDate string) ApiExportAuditLogsApiV1AuditLogsExportGetRequest {
	r.endDate = &endDate
	return r
}

func (r ApiExportAuditLogsApiV1AuditLogsExportGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ExportAuditLogsApiV1AuditLogsExportGetExecute(r)
}

/*
ExportAuditLogsApiV1AuditLogsExportGet Export Audit Logs

Export audit logs in JSON or CSV format.

Returns all logs within the specified date range.
Default is last 30 days if no dates specified.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExportAuditLogsApiV1AuditLogsExportGetRequest
*/
func (a *AuditAPIService) ExportAuditLogsApiV1AuditLogsExportGet(ctx context.Context) ApiExportAuditLogsApiV1AuditLogsExportGetRequest {
	return ApiExportAuditLogsApiV1AuditLogsExportGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *AuditAPIService) ExportAuditLogsApiV1AuditLogsExportGetExecute(r ApiExportAuditLogsApiV1AuditLogsExportGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditAPIService.ExportAuditLogsApiV1AuditLogsExportGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/audit-logs/export"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	} else {
        var defaultValue string = "json"
        parameterAddToHeaderOrQuery(localVarQueryParams, "format", defaultValue, "form", "")
        r.format = &defaultValue
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAuditLogsApiV1AuditLogsGetRequest struct {
	ctx context.Context
	ApiService AuditAPI
	page *int32
	pageSize *int32
	action *string
	actorId *string
	resourceType *string
	startDate *string
	endDate *string
}

func (r ApiGetAuditLogsApiV1AuditLogsGetRequest) Page(page int32) ApiGetAuditLogsApiV1AuditLogsGetRequest {
	r.page = &page
	return r
}

func (r ApiGetAuditLogsApiV1AuditLogsGetRequest) PageSize(pageSize int32) ApiGetAuditLogsApiV1AuditLogsGetRequest {
	r.pageSize = &pageSize
	return r
}

// Filter by action type
func (r ApiGetAuditLogsApiV1AuditLogsGetRequest) Action(action string) ApiGetAuditLogsApiV1AuditLogsGetRequest {
	r.action = &action
	return r
}

// Filter by actor ID
func (r ApiGetAuditLogsApiV1AuditLogsGetRequest) ActorId(actorId string) ApiGetAuditLogsApiV1AuditLogsGetRequest {
	r.actorId = &actorId
	return r
}

// Filter by resource type
func (r ApiGetAuditLogsApiV1AuditLogsGetRequest) ResourceType(resourceType string) ApiGetAuditLogsApiV1AuditLogsGetRequest {
	r.resourceType = &resourceType
	return r
}

// Start date (ISO format)
func (r ApiGetAuditLogsApiV1AuditLogsGetRequest) StartDate(startDate string) ApiGetAuditLogsApiV1AuditLogsGetRequest {
	r.startDate = &startDate
	return r
}

// End date (ISO format)
func (r ApiGetAuditLogsApiV1AuditLogsGetRequest) EndDate(endDate string) ApiGetAuditLogsApiV1AuditLogsGetRequest {
	r.endDate = &endDate
	return r
}

func (r ApiGetAuditLogsApiV1AuditLogsGetRequest) Execute() (*AuditLogResponse, *http.Response, error) {
	return r.ApiService.GetAuditLogsApiV1AuditLogsGetExecute(r)
}

/*
GetAuditLogsApiV1AuditLogsGet Get Audit Logs

Get audit logs for the organization.

Supports filtering by:
- action: Type of action (e.g., "document.signed")
- actor_id: ID of the user or API key that performed the action
- resource_type: Type of resource affected
- start_date/end_date: Date range

Results are paginated and sorted by timestamp (newest first).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAuditLogsApiV1AuditLogsGetRequest
*/
func (a *AuditAPIService) GetAuditLogsApiV1AuditLogsGet(ctx context.Context) ApiGetAuditLogsApiV1AuditLogsGetRequest {
	return ApiGetAuditLogsApiV1AuditLogsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AuditLogResponse
func (a *AuditAPIService) GetAuditLogsApiV1AuditLogsGetExecute(r ApiGetAuditLogsApiV1AuditLogsGetRequest) (*AuditLogResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AuditLogResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditAPIService.GetAuditLogsApiV1AuditLogsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/audit-logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
        var defaultValue int32 = 1
        parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
        r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
        var defaultValue int32 = 50
        parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
        r.pageSize = &defaultValue
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	if r.actorId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actor_id", r.actorId, "form", "")
	}
	if r.resourceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_type", r.resourceType, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
