/*
Encypher Enterprise API

C2PA-compliant content signing and verification infrastructure for publishers, legal/finance firms, AI labs, and enterprises

API version: 1.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package encypher

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type EnterpriseMerkleTreesAPI interface {

	/*
	EncodeDocumentApiV1EnterpriseMerkleEncodePost Encode Document into Merkle Trees

	Encode a document into Merkle trees at specified segmentation levels.
    
    This endpoint:
    1. Segments the document text at multiple levels (word/sentence/paragraph/section)
    2. Builds Merkle trees for each segmentation level
    3. Stores all tree data in the database for future attribution queries
    4. Returns root hashes and tree metadata
    
    **Enterprise Tier Only** - Requires valid organization with Merkle features enabled.
    
    **Rate Limits:**
    - Free tier: Not available
    - Enterprise tier: 1000 documents/month
    
    **Processing Time:**
    - Small documents (<1000 words): ~100-200ms
    - Medium documents (1000-10000 words): ~500ms-2s
    - Large documents (>10000 words): ~2-10s

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiEncodeDocumentApiV1EnterpriseMerkleEncodePostRequest
	*/
	EncodeDocumentApiV1EnterpriseMerkleEncodePost(ctx context.Context) ApiEncodeDocumentApiV1EnterpriseMerkleEncodePostRequest

	// EncodeDocumentApiV1EnterpriseMerkleEncodePostExecute executes the request
	//  @return DocumentEncodeResponse
	EncodeDocumentApiV1EnterpriseMerkleEncodePostExecute(r ApiEncodeDocumentApiV1EnterpriseMerkleEncodePostRequest) (*DocumentEncodeResponse, *http.Response, error)
}

// EnterpriseMerkleTreesAPIService EnterpriseMerkleTreesAPI service
type EnterpriseMerkleTreesAPIService service

type ApiEncodeDocumentApiV1EnterpriseMerkleEncodePostRequest struct {
	ctx context.Context
	ApiService EnterpriseMerkleTreesAPI
	documentEncodeRequest *DocumentEncodeRequest
}

func (r ApiEncodeDocumentApiV1EnterpriseMerkleEncodePostRequest) DocumentEncodeRequest(documentEncodeRequest DocumentEncodeRequest) ApiEncodeDocumentApiV1EnterpriseMerkleEncodePostRequest {
	r.documentEncodeRequest = &documentEncodeRequest
	return r
}

func (r ApiEncodeDocumentApiV1EnterpriseMerkleEncodePostRequest) Execute() (*DocumentEncodeResponse, *http.Response, error) {
	return r.ApiService.EncodeDocumentApiV1EnterpriseMerkleEncodePostExecute(r)
}

/*
EncodeDocumentApiV1EnterpriseMerkleEncodePost Encode Document into Merkle Trees

Encode a document into Merkle trees at specified segmentation levels.
    
    This endpoint:
    1. Segments the document text at multiple levels (word/sentence/paragraph/section)
    2. Builds Merkle trees for each segmentation level
    3. Stores all tree data in the database for future attribution queries
    4. Returns root hashes and tree metadata
    
    **Enterprise Tier Only** - Requires valid organization with Merkle features enabled.
    
    **Rate Limits:**
    - Free tier: Not available
    - Enterprise tier: 1000 documents/month
    
    **Processing Time:**
    - Small documents (<1000 words): ~100-200ms
    - Medium documents (1000-10000 words): ~500ms-2s
    - Large documents (>10000 words): ~2-10s

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEncodeDocumentApiV1EnterpriseMerkleEncodePostRequest
*/
func (a *EnterpriseMerkleTreesAPIService) EncodeDocumentApiV1EnterpriseMerkleEncodePost(ctx context.Context) ApiEncodeDocumentApiV1EnterpriseMerkleEncodePostRequest {
	return ApiEncodeDocumentApiV1EnterpriseMerkleEncodePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DocumentEncodeResponse
func (a *EnterpriseMerkleTreesAPIService) EncodeDocumentApiV1EnterpriseMerkleEncodePostExecute(r ApiEncodeDocumentApiV1EnterpriseMerkleEncodePostRequest) (*DocumentEncodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DocumentEncodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseMerkleTreesAPIService.EncodeDocumentApiV1EnterpriseMerkleEncodePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/enterprise/merkle/encode"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.documentEncodeRequest == nil {
		return localVarReturnValue, nil, reportError("documentEncodeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.documentEncodeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
