/*
Encypher Enterprise API

C2PA-compliant content signing and verification infrastructure for publishers, legal/finance firms, AI labs, and enterprises

API version: 1.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package encypher

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type EvidenceGenerationAPI interface {

	/*
	GenerateEvidenceApiV1EnterpriseEvidenceGeneratePost Generate Evidence

	Generate an evidence package for content attribution.

This endpoint creates a comprehensive evidence package containing:
- Content hash verification
- Merkle proof (if available)
- Signature verification chain
- Timestamp verification
- Source attribution details

**Tier Requirement:** Enterprise

Patent Reference: FIG. 11 - Evidence Generation & Attribution Flow

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGenerateEvidenceApiV1EnterpriseEvidenceGeneratePostRequest
	*/
	GenerateEvidenceApiV1EnterpriseEvidenceGeneratePost(ctx context.Context) ApiGenerateEvidenceApiV1EnterpriseEvidenceGeneratePostRequest

	// GenerateEvidenceApiV1EnterpriseEvidenceGeneratePostExecute executes the request
	//  @return EvidenceGenerateResponse
	GenerateEvidenceApiV1EnterpriseEvidenceGeneratePostExecute(r ApiGenerateEvidenceApiV1EnterpriseEvidenceGeneratePostRequest) (*EvidenceGenerateResponse, *http.Response, error)
}

// EvidenceGenerationAPIService EvidenceGenerationAPI service
type EvidenceGenerationAPIService service

type ApiGenerateEvidenceApiV1EnterpriseEvidenceGeneratePostRequest struct {
	ctx context.Context
	ApiService EvidenceGenerationAPI
	evidenceGenerateRequest *EvidenceGenerateRequest
}

func (r ApiGenerateEvidenceApiV1EnterpriseEvidenceGeneratePostRequest) EvidenceGenerateRequest(evidenceGenerateRequest EvidenceGenerateRequest) ApiGenerateEvidenceApiV1EnterpriseEvidenceGeneratePostRequest {
	r.evidenceGenerateRequest = &evidenceGenerateRequest
	return r
}

func (r ApiGenerateEvidenceApiV1EnterpriseEvidenceGeneratePostRequest) Execute() (*EvidenceGenerateResponse, *http.Response, error) {
	return r.ApiService.GenerateEvidenceApiV1EnterpriseEvidenceGeneratePostExecute(r)
}

/*
GenerateEvidenceApiV1EnterpriseEvidenceGeneratePost Generate Evidence

Generate an evidence package for content attribution.

This endpoint creates a comprehensive evidence package containing:
- Content hash verification
- Merkle proof (if available)
- Signature verification chain
- Timestamp verification
- Source attribution details

**Tier Requirement:** Enterprise

Patent Reference: FIG. 11 - Evidence Generation & Attribution Flow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGenerateEvidenceApiV1EnterpriseEvidenceGeneratePostRequest
*/
func (a *EvidenceGenerationAPIService) GenerateEvidenceApiV1EnterpriseEvidenceGeneratePost(ctx context.Context) ApiGenerateEvidenceApiV1EnterpriseEvidenceGeneratePostRequest {
	return ApiGenerateEvidenceApiV1EnterpriseEvidenceGeneratePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EvidenceGenerateResponse
func (a *EvidenceGenerationAPIService) GenerateEvidenceApiV1EnterpriseEvidenceGeneratePostExecute(r ApiGenerateEvidenceApiV1EnterpriseEvidenceGeneratePostRequest) (*EvidenceGenerateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EvidenceGenerateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvidenceGenerationAPIService.GenerateEvidenceApiV1EnterpriseEvidenceGeneratePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/enterprise/evidence/generate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.evidenceGenerateRequest == nil {
		return localVarReturnValue, nil, reportError("evidenceGenerateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.evidenceGenerateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
