/*
Encypher Enterprise API

C2PA-compliant content signing and verification infrastructure for publishers, legal/finance firms, AI labs, and enterprises

API version: 1.0.0-preview
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package encypher

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type OnboardingAPI interface {

	/*
	GetCertificateStatusApiV1OnboardingCertificateStatusGet Get Certificate Status

	Get current certificate status for organization.

Args:
    organization: Organization details from authentication
    db: Database session

Returns:
    dict: Current certificate status

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetCertificateStatusApiV1OnboardingCertificateStatusGetRequest
	*/
	GetCertificateStatusApiV1OnboardingCertificateStatusGet(ctx context.Context) ApiGetCertificateStatusApiV1OnboardingCertificateStatusGetRequest

	// GetCertificateStatusApiV1OnboardingCertificateStatusGetExecute executes the request
	//  @return interface{}
	GetCertificateStatusApiV1OnboardingCertificateStatusGetExecute(r ApiGetCertificateStatusApiV1OnboardingCertificateStatusGetRequest) (interface{}, *http.Response, error)

	/*
	RequestCertificateApiV1OnboardingRequestCertificatePost Request Certificate

	Initiate SSL.com certificate request for organization.

This endpoint:
1. Checks if organization already has a pending/active certificate
2. Creates SSL.com order via API
3. Stores order tracking in certificate_lifecycle table
4. Returns validation URL to organization

Args:
    organization: Organization details from authentication
    db: Database session

Returns:
    dict: Certificate request details including validation URL

Raises:
    HTTPException: If organization already has certificate or SSL.com API fails

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiRequestCertificateApiV1OnboardingRequestCertificatePostRequest
	*/
	RequestCertificateApiV1OnboardingRequestCertificatePost(ctx context.Context) ApiRequestCertificateApiV1OnboardingRequestCertificatePostRequest

	// RequestCertificateApiV1OnboardingRequestCertificatePostExecute executes the request
	//  @return interface{}
	RequestCertificateApiV1OnboardingRequestCertificatePostExecute(r ApiRequestCertificateApiV1OnboardingRequestCertificatePostRequest) (interface{}, *http.Response, error)
}

// OnboardingAPIService OnboardingAPI service
type OnboardingAPIService service

type ApiGetCertificateStatusApiV1OnboardingCertificateStatusGetRequest struct {
	ctx context.Context
	ApiService OnboardingAPI
}

func (r ApiGetCertificateStatusApiV1OnboardingCertificateStatusGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetCertificateStatusApiV1OnboardingCertificateStatusGetExecute(r)
}

/*
GetCertificateStatusApiV1OnboardingCertificateStatusGet Get Certificate Status

Get current certificate status for organization.

Args:
    organization: Organization details from authentication
    db: Database session

Returns:
    dict: Current certificate status

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCertificateStatusApiV1OnboardingCertificateStatusGetRequest
*/
func (a *OnboardingAPIService) GetCertificateStatusApiV1OnboardingCertificateStatusGet(ctx context.Context) ApiGetCertificateStatusApiV1OnboardingCertificateStatusGetRequest {
	return ApiGetCertificateStatusApiV1OnboardingCertificateStatusGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OnboardingAPIService) GetCertificateStatusApiV1OnboardingCertificateStatusGetExecute(r ApiGetCertificateStatusApiV1OnboardingCertificateStatusGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OnboardingAPIService.GetCertificateStatusApiV1OnboardingCertificateStatusGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/onboarding/certificate-status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRequestCertificateApiV1OnboardingRequestCertificatePostRequest struct {
	ctx context.Context
	ApiService OnboardingAPI
}

func (r ApiRequestCertificateApiV1OnboardingRequestCertificatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RequestCertificateApiV1OnboardingRequestCertificatePostExecute(r)
}

/*
RequestCertificateApiV1OnboardingRequestCertificatePost Request Certificate

Initiate SSL.com certificate request for organization.

This endpoint:
1. Checks if organization already has a pending/active certificate
2. Creates SSL.com order via API
3. Stores order tracking in certificate_lifecycle table
4. Returns validation URL to organization

Args:
    organization: Organization details from authentication
    db: Database session

Returns:
    dict: Certificate request details including validation URL

Raises:
    HTTPException: If organization already has certificate or SSL.com API fails

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRequestCertificateApiV1OnboardingRequestCertificatePostRequest
*/
func (a *OnboardingAPIService) RequestCertificateApiV1OnboardingRequestCertificatePost(ctx context.Context) ApiRequestCertificateApiV1OnboardingRequestCertificatePostRequest {
	return ApiRequestCertificateApiV1OnboardingRequestCertificatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OnboardingAPIService) RequestCertificateApiV1OnboardingRequestCertificatePostExecute(r ApiRequestCertificateApiV1OnboardingRequestCertificatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OnboardingAPIService.RequestCertificateApiV1OnboardingRequestCertificatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/onboarding/request-certificate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
